[2017-08-18 21:42] #461 closed

[2017-08-18 22:43] mairastorch commented on #414
Unfortunately it is :(

On Fri, Aug 18, 2017, 16:44 Alex Brazier <notifications@github.com> wrote:

[2017-08-18 23:03] alexbrazier commented on #414
@mairastorch Do you sign in with a username and password, or with facebook/google etc.?
If you login, the restart the app, does it always start logged out?

[2017-08-19 03:22] mairastorch commented on #414
I sign in with an username and password, but I believe my company uses LDAP
for authentication.

If I login, switch to another app, receive a notification and tap it,
rocketchat opens showing the login screen.

On Fri, Aug 18, 2017, 20:03 Alex Brazier <notifications@github.com> wrote:

[2017-08-19 10:56] alexbrazier commented on #469
Fixed by #512

[2017-08-19 10:56] #469 closed

[2017-08-19 11:12] alexbrazier commented on #44
The tray icon changes depending on the operation system, but on Windows if you left click the app will always open if not already, if you right click you get a menu with quit and show/hide (depending of if its open or not).
On mac you just get the menu show/hide & quit if you left or right click.

Is there anything else that is needed, or could be improved?

[2017-08-20 13:57] alexbrazier commented on #454
@monspid Are you using the 2.8.0 release or the current development version, as they have been fixed in development, and should be released soon?

[2017-08-21 12:34] dkoryavov opened #517 "Images won't display if Rocket.Chat is running behind an nginx reverse proxy"
Hello,

Our Rocket.Chat installation is running behind nginx reverse proxy.  Config:

    location /rocket {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass http://[our_rocket_node]/rocket;
  }

With this configuration image

[2017-08-21 16:48] #451 closed

[2017-08-21 17:04] gueeme commented on #492
@alexbrazier
They are not all messages and do not have a frequency.
These are plain text messages with no special characters. We almost do not send pictures.

[2017-08-21 18:48] #60 closed

[2017-08-21 20:44] HLFH commented on #513
![rocketchat-win](https://user-images.githubusercontent.com/2359059/29537504-e92ccd02-86b9-11e7-93aa-52ab5bed536a.png)

This is what I have on Windows 10, using 2.8.0.

[2017-08-21 21:00] gdelavald commented on #513
@HLFH yeah that is supposed to be the hotkey for selecting the server, doesn't make much sense alone...

[2017-08-23 06:08] geekgonecrazy commented on #454
Yes just verifying you installed from download or via: `snap install rocketchat-desktop`.

If installed via snap there is an issue where some platforms you have to install snapd-xdg-open

[2017-08-24 19:16] gdelavald opened #522 "Desktop Notifications not working with Rocket.Chat+ 2.8"
@monty241 commented on [Fri Aug 18 2017](https://github.com/RocketChat/Rocket.Chat/issues/7795)

I've configured desktop notifications on Windows 10, Rocket.Chat+ 2.8.0, 1 instance, deployment: snap, db replicaset: ?, node: ?.

The test desktop notifications button works and shows in the bottom right corner a popup.

However, no other notifications appear. Rooms etc all default from account.

Repr

[2017-08-25 13:26] TheSharpieOne opened #523 "[Feature] Pre/Post-Release Configuration for Auto Update Check"
It would be nice to have a way to disable automatic update checks. Why? In an enterprise environment more control over versions and updates are needed (and all settings in general). Some testing needs to be done to ensure the validity of the updates as well as to ensure users have the same version. Also, if things are sufficiently locked down, the app may not actually be able to update itself (due

[2017-08-25 18:05] TheSharpieOne opened #524 "Mac OS notifications do not open chat channel"
## My Setup
- Operating System: Mac OS 10.12.6
- App Version: 2.9.0

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
Clicking notification (not reply) does not take the user to the right channel.

### Current Behavior
Currently, when clicking the notification, it just dismisses the notification.

### Expected Behavior
It should dismiss the notifica

[2017-08-27 13:51] johnyb0y commented on #449
@alexbrazier Thanks for your pr! Where do i need to put the file ? Inside the "resources" folder, like the servers.json ? Or in the root folder of rocketchat ?

[2017-08-27 15:12] alexbrazier commented on #449
@johnyb0y you can either put the file in the app data directory (in the rocket chat folder) or in the install directory.

This is a runtime config, and is currently not built with the installer. This may change (see #523)

[2017-08-27 15:48] johnyb0y commented on #449
Thank you. Yeah, i was talking about the "All Users" installation in %Program Files%\rocketchat+.

[2017-08-27 15:50] johnyb0y commented on #523
Yes, beeing able to use the "update.json" like the "servers.json" to force some basic rollout configuration would be great.

[2017-08-27 23:53] jasonfah commented on #115
Is there any intention to put the unread count on the **taskbar** icon? Similar to Skype. (not talking about the system tray icon - that works fine)

[2017-08-29 08:41] alexbrazier commented on #454
Closing this as is was fixed in 2.9.0. If there is still an issue please reopen

[2017-08-29 08:41] #454 closed

[2017-08-29 08:52] alexbrazier commented on #522
@monty241, @dkoryavov Can you check what your notification preferences are in `My Account -> Preferences -> Messages -> Show Desktop Notifications For` or the preference in the admin page

[2017-08-29 13:23] arnonuem opened #527 "Allow Multiple Instances of Electron App"
I want to suggest to allow multiple instances of the same app.

Background:
I am on Windows 10 and i have 4 virtual desktops. I also have multiple monitors. I want to permantently see a rocket chat client instance on a specific monitor when switching virtual desktop. I Could use the browser window as workaround but i want to use the electron app.

Could you please investigate whether it is just an

[2017-08-29 17:37] #524 closed

[2017-08-29 18:17] alexbrazier commented on #527
@arnonuem Is this what you want to do?
https://www.addictivetips.com/windows-tips/how-to-pin-an-app-window-to-all-virtual-desktops-in-windows-10/

[2017-08-29 18:55] alexbrazier opened #528 "Add remove app data to Windows and linux app"
Currently the clear app data option only exists on mac as it is located in the help menu. It should be added to other OSs.

[2017-08-30 10:27] arnonuem commented on #527
Yes this is sufficient! Thanks for the pointer. Ticket can be closed :)

[2017-08-30 14:07] #527 closed

[2017-08-31 08:02] DanielRuf opened #529 "handshake error in 2.9.0"
After the update Rocket.Chat+ does not react anymore, even in the browser where it throws `websocket' failed: Error during WebSocket handshake: Unexpected response code: 400`.

I'll buy a Macbook in the next weeks and test it with my own server, provide full logs from the testing instance and try to identify the cause with bisect.

[2017-08-31 10:09] AlexDRiVER commented on #487
+1

[2017-08-31 10:33] dkoryavov commented on #522
I tried to use 'Mentions' and 'All messages'. It does not work anyway (Windows 7 + Rocket.Chat Electron 2.9).

[2017-08-31 11:15] reitzig commented on #351
Can confirm with Ubuntu 16.04, Firefox 54, Rocket 2.9.0. I dragged an image out of the browser with the intend of sending it in a Rocket chat, instead the client loaded the image. Can reproduce after restart.

[2017-08-31 13:51] johnyb0y opened #530 "Rocket.Chat.Electron doesn't display certain changes (because of caching?) / Global Setting to define TTL for cache ?"
## My Setup
- Operating System: Windows 7 SP1 x64
- App Version: 2.9.0

- [x ] I have tested with the latest version
- [x ] I can simulate the issue easily

## Server Setup Information:
Version of Rocket.Chat Server: 058.1
Operating System: Debian 9.1 Stretch
Deployment Method(snap/docker/tar/etc): tar
Number of Running Instances: 2
DB Replicaset Oplog: Yes, 1 ReplicaSet
Node Version: 4.8.2

## De

[2017-08-31 16:37] gdelavald commented on #351
@reitzig if it isn't much trouble, could you try and get a gif/video of you reproducing the issue? (I use recordit.co do record and upload automatically)
I tried to reproduce this issue on a VM running Ubuntu 16.10 and Rocket.Chat 2.9.0 and the popup for sending image showed up preventing any navigation from happening.

[2017-08-31 16:40] gdelavald commented on #529
@DanielRuf can you explain a little bit more about the 'Rocket.Chat+ does not react anymore', it's just not working after throwing the error? Usually WebSocket errors get thrown but the connection is not closed, which cause the app to recover after a short while. Have you checked the web version on the same server to check if it's not related to the server instance?
Thanks.

[2017-08-31 16:41] gdelavald commented on #523
Thanks for the suggestion, unifying deploy and client configuration for mass users is something we are looking into implementing in the next release(s).

[2017-08-31 16:46] DanielRuf commented on #529
The error was from the web version which also did not react, consumed much memory and made it almost impossible to close the tab.

The app and webapp did not work anymore. A downgrade to 2.8.0 / installation of a 2.8.0 client was the only working solution so far. The problem is not new afaik and happened also in other releases on macOS.

[2017-08-31 16:59] johnyb0y commented on #523
For example Firefox has a great implementation of this feature.
https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/Enterprise_deployment

You can decide whether a certain setting is forced and not changeable or just preset in a certain way.

[2017-08-31 20:47] vcapretz commented on #197
As discussed here, I see that it's an Electron issue for not having known shortcuts, but as it's not solved yet I see that we can implement it here by registering global shortcuts (https://github.com/electron/electron/blob/master/docs/api/global-shortcut.md), is that right?

I can work on it!

[2017-09-07 06:43] #528 closed

[2017-09-07 15:29] vcapretz commented on #489
@vesvalo the back/forward navigation will be added here https://github.com/RocketChat/Rocket.Chat.Electron/pull/533, I'm waiting for the guys to approve it :wink:

[2017-09-07 15:49] vcapretz commented on #513
hey @gdelavald I reduced the sidebar width in 20%, it's much better, what do you think?

**Before:**
![before](https://user-images.githubusercontent.com/14620121/30172323-ec6c4ae2-93ca-11e7-9e14-712c8582eec1.png)

**After:**
![after](https://user-images.githubusercontent.com/14620121/30172334-f3b6becc-93ca-11e7-8184-acee8391c848.png)

now I'm going to work on the background color

[2017-09-07 16:11] vcapretz commented on #513
for the background color I got the variables from Rocket.Chat server, I used the darker one on the sidebar so it is not equal to the webview color, as you can see here:

![sidebar_closed](https://user-images.githubusercontent.com/14620121/30173418-f4f41282-93cd-11e7-9e2d-bddda2943da1.png)

![sidebar_open](https://user-images.githubusercontent.com/14620121/30173420-f89cf192-93cd-11e7-95ac-419affbab

[2017-09-07 19:53] josecanciani commented on #194
There are several opened issues in the server side regarding away and notifications:
    https://github.com/RocketChat/Rocket.Chat/issues/3667
    https://github.com/RocketChat/Rocket.Chat/issues/1602
    https://github.com/RocketChat/Rocket.Chat/issues/7130
Apparently, even if you set your desktop client to Away manually, the server will not send you push notifications for 5 minutes. If you leave

[2017-09-08 09:35] vesvalo commented on #489
Great news, thank you:)

[2017-09-10 13:01] localguru opened #535 "Spell check automatically set to English"
## My Setup
- Operating System: Ubuntu 14.04 LTS or Windows 7
- App Version: rocketchat_2.9.0_amd64.deb or rocketchat-setup-2.9.0.exe
- Server: 0.58.2

client side:
[code]

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

spell check is automatically set to English. My RC Profile is set to Geman. In Firefox the spell check works very well on German

[2017-09-11 08:58] monty241 commented on #522
See picture. When I press "TEST" (2), (3) appears. Version 2.9.0.
![image](https://user-images.githubusercontent.com/7579444/30266579-275a98bc-96e0-11e7-89e9-224dbe85cf57.png)

[2017-09-11 17:47] cameron314 commented on #474
For what it's worth, I don't think this is specific to RocketChat anymore. I upgraded to Office 2013 and I don't receive notifications from Outlook either.

[2017-09-11 17:57] gdelavald commented on #474
@cameron314 Interesting... any way we'll keep investigating the issue. Thanks for the feedback.

[2017-09-11 17:59] cameron314 commented on #474
AHA! I had somehow enabled 'Quiet Hours' in the Action Center. This was nearly impossible to find since you have to a) know that the Action Center is responsible for showing the notification banner thingies, and b) I had hidden the Action Center icon thinking it was useless, so this setting was out of sight.

[2017-09-11 17:59] #474 closed

[2017-09-12 09:04] jthomae1 opened #536 "Missing file extension when downloading attachment"
## My Setup
- Operating System: macOS Sierra
- App Version: Version 2.9.0

- [x ] I have tested with the latest version
- [x ] I can simulate the issue easily

## Description

To reproduce the issue, try downloading an attachment you received from another user

### Current Behavior

File extension is missing. The issue only occurs with version 2.9.0 of Rocket.Chat+.

### Expected Behavior

File ex

[2017-09-13 06:34] konovalcev opened #537 "Clients of Rocket.Chat works incorrectly, if url of RC instance contains context path"
Android client and Desktop client for Windows works incorrectly, if url address of Rocket Chat instance contains context path (like https://rc.instance.com/myproject). We checked tcp dump and it looks like clients cut off context path in url and tries to log to https://rc.instance.com without context, that certainly doesn't work.
Android client doesn't connect to url with context path at all (just

[2017-09-13 12:45] Romich777 opened #538 "No action for click or double click on the icon in KDE tray"
OS: Mint KDE 18.2 x64 (KDE 5.8.7)
Rocket.Chat client 2.8.9

When clicking on icon in system tray no window appears.
Right click menu show/hide works OK.

[2017-09-13 18:24] #197 closed

[2017-09-14 22:07] localguru commented on #535
right mousekey -> Spelling languages.

[2017-09-15 01:36] gdelavald commented on #535
Having it to default to user language would be good though.

[2017-09-15 02:54] AlexanderPlaza opened #540 "JavaScript error occurred in the Main Process - 2.9.0"
## My Setup
Operating System: Ubuntu 16.04.3 LTS - 4.10.0-33-generic
App Version: 2.9.0
Hardware: Lenovo T400
Display: 1080 X 800 (16:10)
Launcher Icon Size: 54

- [ X] I have tested with the latest version
- [ X] I can simulate the issue easily - Force it to break

## Description

Error occurs when starting up Rocket.Chat within user profile.
When starting up the client in fullscreen and closing

[2017-09-15 11:58] konovalcev commented on #537
Hello team.
Is there any update? I just want to know, is this a known bug or we have problems with deployment.
Thanks.

[2017-09-15 13:43] lofidevops opened #541 "Snap application icon doesn't appear under Wayland"
## My Setup
- Operating System: PureOS (Debian) + GNOME 3.25.92 + libwayland 1.14.0
- App Version: 2.7.0 (installed via snap)

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
"Rocket.Chat" icon does not appear after installation.

### Current Behavior
* `sudo snap install rocketchat-desktop`
* No application icon
* (Application icon does appear if

[2017-09-15 13:43] gdelavald commented on #537
@konovalcev Hey, we'll test this and update you on this issue. Thanks for your patience.

[2017-09-15 13:55] konovalcev commented on #537
@gdelavald Great! Thanks. I will wait for your response.

[2017-09-15 20:46] #483 closed

[2017-09-16 02:09] #214 closed

[2017-09-18 05:44] zcgecho opened #542 "failed to rebuilt rocket.chat.electron2.8, verbose stack Error: rocketchat@2.8.0 postinstall: `install-app-deps && electron-rebuild`"
i want to rebuild rocket.chat.2.8.0 from source On win10 as i want to rebuild windows desktop client
i check the log, as blow:
81100 warn ajv-keywords@2.1.0 requires a peer of ajv@>=5.0.0 but none was installed.
81101 verbose If you need help, you may report this error at:
81101 verbose https://github.com/npm/npm/issues
81102 verbose stack Error: rocketchat@2.8.0 postinstall: install-app-deps && e

[2017-09-18 07:46] localguru commented on #535
Hi Gabriel, how do I add another language for spell checking?

[2017-09-18 08:59] konovalcev commented on #537
@gdelavald Hello Gabriel. Is there any update?
Thanks.

[2017-09-18 13:07] zcgecho opened #543 "failed to rebuild rocket.chat.2.9.0,it seems that connect ETIMEDOUT 23.23.139.60:443"
electron-builder 19.20.1
Rebuilding native production dependencies for win32:x64
Rebuilding native dependency spellchecker
Error: E:\nodejs\node.exe exited with code 1
Output:
yarn run v1.0.2
$ node-gyp rebuild

G:\zhangrui\Rocket.Chat.Electron-2.9.0\node_modules\spellchecker>if not defined npm_config_node_gyp (node "E:\nodejs\node_modules\npm\bin\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node

[2017-09-18 21:38] alexbrazier commented on #535
@localguru At the moment dictionaries are built into the app, and we only have a few. To get it working now you will have to add your language and rebuild the app.

Probably the best way to resolve this issue is to download the users language automatically.
Dictionaries can be found here: https://cgit.freedesktop.org/libreoffice/dictionaries/tree

[2017-09-19 14:50] vcapretz commented on #538
@Romich777 we are discussing it on https://github.com/RocketChat/Rocket.Chat.Electron/issues/44, so I think we can close this one!

[2017-09-19 17:49] vcapretz commented on #493
hey @dark-penguin are you still having trouble with it? I've been using RC Electron for a while and I didn't have problems with the alerts.

When I have some direct message it shows a red tray icon with the messages count.
When there are messages on public channels it's green, and with no messages it's gray

(I'm using Ubuntu and RC Electron v2.9.0)

[2017-09-19 18:01] vcapretz commented on #44
hey @alexbrazier take a look on https://github.com/RocketChat/Rocket.Chat.Electron/pull/544, I added some extra validation, but it already works just fine.

on Mac/Linux there's no difference between left or right clicks, it always will pop the context menu

[2017-09-19 19:05] dark-penguin commented on #493
For me, it works fine on Ubuntu, but I've never seen it work on Debian Jessie. And I have multiple boxes running Debian Jessie. All of them just show the gray icon (which looks kinda bad on the default gray MATE theme).

[2017-09-19 22:05] geekgonecrazy opened #545 "Displays improper branding in notification"
## My Setup
- Operating System: OSX Sierra
- App Version: 2.9.0

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

![image](https://user-images.githubusercontent.com/51996/30617619-7fb22700-9d5c-11e7-9c62-4125d20a9f07.png)
Displays only Rocket

### Current Behavior
Displays Rocket

### Expected Behavior

Should show Rocket.Chat or Rocket.Chat+ or th

[2017-09-20 01:37] gdelavald commented on #545
Did this start happening after an update (osx or app) or was it a recent change?

[2017-09-20 01:39] geekgonecrazy commented on #545
I believe it came as of 2.9.0 I only recently installed on OSX.

I did notice Rocket in some of the branding when I installed 2.9.0 on Fedora though.  I had to actually uninstall and reinstall to upgrade to 2.9.0.  So I think something changed.

[2017-09-20 03:51] #538 closed

[2017-09-21 14:31] vcapretz commented on #536
hey @jthomae1 @ledainam can you please check if it's not an upload issue?
I was checking this and every file I uploaded a file it was download correctly, both on RC and on electron app.
but when uploading a file and removing the extension from file's name when being asked to give it a name caused the file to be saved without an extension.

I thought it probably would be a good idea to force an ext

[2017-09-21 16:27] geekgonecrazy opened #547 "Reply from notification not working"
## My Setup
- Operating System: OSX Sierra
- App Version: 2.9.0
- Rocket.Chat Server: 0.59.0-rc.7

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
Seems to only be an issue with 0.59.0 replying does nothing

### Current Behavior
It just doesn't work

### Expected Behavior
It should send message in response

[2017-09-21 21:31] alexbrazier commented on #489
@vesvalo The back and forward menu item and shortcuts have now been added.
Are you still wanting tabs to be implemented, and if so can you describe the use case?

Just to point out, you can click the star icon at the top of any chat (left of the name), and the chat will then appear at the top of the sidebar in favourites. The sidebar then acts like tabs as all the chats are always open. It also re

[2017-09-22 02:38] #44 closed

[2017-09-22 09:48] ledainam commented on #536
@vcapretz : i think it is upload issue.
1. When i upload from mobile client ( android, iOs) file upload stuck at 0% or run too slow. i run 4 instance and when i run only 1 instance, it works fine. maybe it issue by running multiple instance.
2. For misssing extension, user report that when upload from macOS client, it always missing extension. Upload from Windows client is fine.

[2017-09-22 12:32] vesvalo commented on #489
Yes, i'm using "starring" feature.
Sometimes I receive a lot of messages in many chats, and not all of them are "starred".
I can read message to determine the priority of the task which is message about, and if it is not urgent, I often open that conversation in a new tab, just to be able to return to it when i have time for it.
There is the feature "mark as unread", which also helps in such case,

[2017-09-22 12:52] konovalcev commented on #537
@gdelavald Hello Gabriel. Looking forward to your reply!)

[2017-09-22 13:00] gdelavald commented on #536
@geekgonecrazy I think you have a better insight on the multiple instances upload, can you give @ledainam a quick answer?

[2017-09-22 13:25] gdelavald commented on #537
Hey @konovalcev I'll update the issue as soon as I have a response. Thanks for your patience.

[2017-09-22 14:04] konovalcev commented on #537
@gdelavald Got it. Thank you!

[2017-09-22 15:22] vcapretz commented on #493
hey @dark-penguin, I was looking for possible causes and I saw that some users reported issues with the tray icon on electron (on Debian Jessie), but their problem was that the tray icon was not visible at all.

On your case the tray icon does appear, but only the notifications are not working, right?

Can you please check your user preferences this setting?

![image](https://user-images.githubuse

[2017-09-22 17:13] dark-penguin commented on #493
Okay, now this is fixed (in 2.9.0, at least build 538). Thank you!

[2017-09-22 17:13] #493 closed

[2017-09-23 02:33] vcapretz opened #548 "[NEW] Add a linter to the project"
It would be great for the project to have a linter (like eslint) so we can have consistency when multiple people are adding and replacing code.

I would suggest that the rules should be the same as https://github.com/RocketChat/Rocket.Chat/blob/develop/.eslintrc so Rocket.Chat can have its own pattern across projects

[2017-09-23 02:51] vcapretz commented on #165
hey @michaudg are still facing this issue? I just tested on v 2.9.0 and works fine!

[2017-09-23 04:56] gdelavald commented on #548
See https://github.com/RocketChat/Rocket.Chat.Electron/pull/494

[2017-09-23 04:56] #548 closed

[2017-09-23 16:31] michaudg commented on #165
Yes, that's fine now! Zoom level is persistent. I think the issue can be closed.

[2017-09-23 16:43] #165 closed

[2017-09-25 19:12] #540 closed

[2017-09-25 20:46] geekgonecrazy opened #549 "Allow use of png for server list icon"
Currently limited to svg.  It should take png as well

## My Setup
- Operating System: All
- App Version: 2.9.0

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
If you use png server icon in server list is default icon

### Current Behavior
If you use png server icon in server list is default icon

### Expected Behavior
It should show the icon uplo

[2017-09-25 21:17] gdelavald commented on #547
I can't reproduce this issue. If someone else encounter this issue please add your setup so we can track it down.

[2017-09-26 06:35] reitzig commented on #351
[Sure](https://imgur.com/SYJkWMW). Can not reproduce with local files dragged in from Nautilus, by the way.

(`gtk-recordmydesktop`, by the way -- simple, free and local.)

[2017-09-26 06:54] G00mbah opened #550 "Livechat and desktop notifications not working on Mac OS"
## My Setup
- Operating System: MacOs 10.12.6
- App Version: 2.9

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

### Current Behavior
When a new live chat on on of our sites is initiated, there is no notification of this fact.

### Expected Behavior
I would like to get notified when a new live chat is being initiated, so I can respond immediately and not lose th

[2017-09-27 13:49] Romich777 commented on #184
With different intel GPU I get this issue very often

[2017-09-27 14:14] gdelavald commented on #543
Hey @zcgecho, sorry to not be able to help you more. This seems like an issue with your machine or npm, please look for similar problems in StackOverflow and how to resolve them.

[2017-09-27 17:58] vcapretz commented on #542
hey @zcgecho did you tried tihs: https://github.com/RocketChat/Rocket.Chat.Electron#issues-with-install?

the project has some dependencies and you will need them to run it!

[2017-09-27 18:01] vcapretz commented on #452
isn't the same issue as https://github.com/RocketChat/Rocket.Chat.Electron/issues/487? If so, we can close one of them!

@geekgonecrazy

[2017-09-28 10:59] simakmak opened #553 "alluser does not work?"
Good afternoon guys. I wanted to roll out the client rocket.chat in the domain, and wrote a simple script. But I ran into the fact that the / allusers switch does not work. How so? Maybe I'm doing something wrong? The / S switch works fine. But I wanted to put on all users in the domain, on each machine, and shove pre-cooked servers.json, that would determine the server on the network.

[2017-09-28 12:00] gdelavald commented on #553
You do need administrator rights to use /allusers, make sure you have that when running the command

[2017-09-28 13:20] johntq commented on #452
It looks like the same. Important: I am talking about the tray icon, not the task bar icon.

[2017-09-28 13:28] vcapretz commented on #452
sure! the other issue is also about the tray icon :smile:

[2017-09-28 17:31] nicolasdezena opened #554 "Projeto nao sobe no windows"
Estou tentando subi o projeto no WIN 10, mas n consigo de forma alguma.

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'start' ]
2 info using npm@3.10.10
3 info using node@v6.11.2
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle tes

[2017-09-28 17:37] gdelavald commented on #554
Hey @nicolasdezena, please check the troubleshooting guide on the repository README to try and fix this issue.

[2017-09-28 17:46] #543 closed

[2017-09-28 18:00] nicolasdezena commented on #554
Oi meu amigo, eu ja fiz de tudo, instalei o python, node-gyp e não sobe de jeito nenhum, no MAC o projeto subiu lindo, porém no windows não e se eu tento buildar para o windows o mesmo acusa que o .exe não é um win32 válido.

[2017-09-28 18:04] gdelavald commented on #554
Did you try to run with `yarn` instead of `npm`?

[2017-09-28 18:06] nicolasdezena commented on #554
Sim, tentei com o Yarn e com o NPM, tem alguma forma de buildar para o windows usando o mac? Da forma que eu tentei ele buildo só que no windows deu erro falando que não era um arquivo válido.

[2017-09-28 18:08] gdelavald commented on #554
You would have to run a Virtual Machine with Windows installed to make the proper Windows build. :/

[2017-09-28 18:12] nicolasdezena commented on #554
Então, fica difícil se o projeto não sobe haha, tentei buildar na VM mesmo não o projeto não subindo, ele fez o build porém quando executo o .exe ele fala que não é válido. haha

[2017-09-28 18:14] gdelavald commented on #554
Did you try https://github.com/felixrieseberg/windows-build-tools ?

[2017-09-28 18:17] nicolasdezena commented on #554
SIm, já estou a 3 semanas tentando resolver isso hahha

[2017-09-28 19:39] straytripod opened #555 "Chat Notification popup duration"
I have attempted to change the duration both privately and administratively. The setting does not seem to be working. Is there a configuration file I can set the duration in? 3 seconds pop-up notification is ridiculous.

[2017-10-02 17:01] rmmcnulty9 commented on #24
It looks like the RPM files are not compatible with CentOS 7. Do you have any suggestions?

[2017-10-02 17:14] gdelavald commented on #24
@rmmcnulty9 can you open a new issue requesting a centOS package? Thanks!

[2017-10-02 17:30] xenithorb commented on #24
@rmmcnulty9  Can you highlight what's broken and not working for you? I just did a test on CentOS 7.3 and 7.4 with the package: `rocketchat-2.9.0-538.x86_64` and it works as normal. Granted, I'm using KDE and not the default GNOME desktop.

[2017-10-02 17:37] bagasse commented on #24
I'm running CentOS 7.4 (and 7.3 before), with gnome desktop, all works fine except the application icon (wich is a gnome default icon, not rocket.chat one)

[2017-10-03 13:25] rmmcnulty9 commented on #24
Very strange, when I opened the RPM in the Application Installer gui program it said, "File not supported". But if I do it through the CLI with `sudo rpm -Uvh ~/Downloads/rocketchat-2.9.0.x86_64.rpm` it installed. Thanks for the help.

[2017-10-03 18:35] simakmak opened #558 "Notification not working in Windows 8.1"
Good afternoon. I decided to install your client on several machines, and I ran into an annoying mistake. Windows 8.1 notifications do not work. And on 7 and 10 work perfectly. How to deal with this? (

[2017-10-03 19:59] johnyb0y commented on #530
Update: I couldn't reproduce the error since updating to the newest Rocket.Chat RC's. I think this can be closed.

[2017-10-03 21:13] #530 closed

[2017-10-05 06:43] monty241 commented on #486
Updated situation with 376K messages in store, close to 0% CPU and waiting I/O on linux server.

Problem also appears switching channels.

Switching between channels in web browser is instantly.
Switching between channels in RocketChat 2.9.0 client takes 35 seconds with 100% load on one core. Memory consumption of rocket chat electron client is approximately 1 GB.

[2017-10-05 06:46] monty241 commented on #550
Same on my macbook.

[2017-10-05 14:36] gdelavald commented on #486
Thanks for the detailed information, we'll start looking into performance problems for next release.

[2017-10-05 19:11] OtavioCapila opened #559 "Automatic logoff"
## My Setup
- Operating System: Windows 7 Pro x64
- App Version: 2.9.0

- [x] I have tested with the latest version
- [ ] I can simulate the issue easily

## Description

![capturar](https://user-images.githubusercontent.com/29285724/31247531-41961304-a9e7-11e7-8a0f-371c60a2b333.PNG)

### Current Behavior

Alguns usuários na empresa onde trabalho,reclamaram que o Rocket.Chat desconectou suas conta

[2017-10-05 19:29] gdelavald commented on #559
@OtavioCapila can you provide the server version as well? This was an issue which was fixed in the latest version of the server.

[2017-10-05 19:34] OtavioCapila commented on #559
@gdelavald We are using version 0.58.3.
This issue was fixed in the last stable or beta version?

[2017-10-05 19:44] gdelavald commented on #559
It should have been fixed on 0.58.3, were you able to reproduce the issue after the update?

[2017-10-05 19:49] OtavioCapila commented on #559
@gdelavald Happened to me only once. But this week the employees complained a few times about this problem.

[2017-10-05 20:04] timbobishop commented on #559
@gdelavald I've got about 20 people on Mac OS X using both 2.8 * 2.9, server version 0.58.3 and I've been getting complaints of people being logged off multiple times a day.

[2017-10-06 03:37] pepkaro commented on #549
Hey there! I can give this a shot.

[2017-10-06 11:26] gdelavald commented on #549
@pepkaro Awesome, if you need any help make sure to hit #desktop on open.rocket.chat to find us.

[2017-10-06 13:07] phriedrich commented on #559
I think this should be fixed with today's Rocket.Chat 0.58.4: https://github.com/RocketChat/Rocket.Chat/pull/8420/commits/3a90df3f30003f4a414570c1ef853635a7a8d768

[2017-10-08 18:15] localguru commented on #559
I'm using 2.9.0 on Android (battery optimized off) and 0.58.2. The Android client goes to offline after some time. Shouldn't is be just "away"? See some stats:

![image](https://user-images.githubusercontent.com/8544984/31319530-47397a0a-ac65-11e7-9cf2-5ca0c91dd957.png)

[2017-10-09 04:50] damon-myers commented on #535
Hello! I have started to work on this.

I have added a method to the SpellCheck module that downloads the dictionary files from LibreOffice if we don't have them available, but it seems smelly to add to the SpellCheck module and do this download at runtime.

Is there somewhere else that would be better to check which dictionaries we have available and download the needed one? Perhaps during instal

[2017-10-09 15:01] gdelavald commented on #559
@localguru are you using electron for Android? By the way, you should update for 0.58.4 for security reasons and I fix the offline bug was fixed in hotfix .3

[2017-10-09 15:21] gdelavald commented on #535
Hey @damon-myers, awesome to hear that. Maybe we could add an option in the menu to search for the dictionary files? This would mean the user would know and would be willing to download it.
After the implementation we can discuss WHEN is the best time to check and download the files.
Looking forward for your PR.

[2017-10-09 21:38] abhishek71994 commented on #549
@pepkaro you working on this? otherwise, I'd like to give this a shot.

[2017-10-10 21:45] pepkaro commented on #549
Please go for it! I got pulled into other tasks this weekend and haven't started.

[2017-10-11 12:20] gucki commented on #144
@rodrigok I'm using the latest docker image of rocket chat. I put a caddy container in front to have ssl with letsencrypt. This is where I also added basic auth. Everything seems to work, but when a link is clicked (ex, switch the channel or user one is writing with) the whole page reloads. It still works though, it's just a bit annoying. Any idea how to fix it?

[2017-10-12 12:24] AndreiLopatenco opened #561 "Audio/Video calls are not working on the macOS app (v2.9.0)"
## My Setup
- Operating System: macOS High Sierra 10.13.1 Beta (17B35a)
- App Version: Version 2.9.0

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

### Current Behavior

Everytime I am willing to call anyone via the macOS app - it doesn't work. Neither the audio nor the video call. I can see my own image in the video call and a black square of t

[2017-10-12 13:33] StevenMercurio commented on #561
Same issue on latest released Fedora client on FC26.  It keeps asking me to
install a plug-in but doesn't seem to do anything when I click on install.
Maybe RPM to install plug-in?  FF/Chrome are great though.

On Oct 12, 2017 8:24 AM, "Andrei Lopatenco" <notifications@github.com>
wrote:

[2017-10-12 16:10] simakmak commented on #558
Hello. Do not tell me, is there any chance to correct the error notifications in the next version? And if so, about what time is the next update? Otherwise, thanks for a great product =)

[2017-10-13 02:13] ledainam commented on #536
@gdelavald : would you like to tell us when this bug will resolve ? Our users reported everytime he lost extension when download attachment at macOS/
Thanks.

[2017-10-13 04:48] gdelavald commented on #536
@ledainam This was fixed in the server repository, you can check the PR [here](https://github.com/RocketChat/Rocket.Chat/pull/8296) and will be released in version 0.59.0

[2017-10-13 10:43] ledainam commented on #536
@gdelavald : Thanks you so much.

[2017-10-13 13:38] TomaszKorwel commented on #240
We are in the process of evaluating rocket.chat to implement in our company, but the inability to screenshare from the desktop client may break things. is there any way I can help get that implemented soon?

[2017-10-13 16:02] gdelavald commented on #240
@TomaszKorwel Hey, we have a PR to fix some the issues but this was delayed a bit due to a change that is needed in the server as well. This is in the backlog and should be worked on in the next month, so you can expect this to be released in version 2.11.0 that should be released in November.

[2017-10-13 19:16] gdelavald commented on #558
Hey, this will be added to the backlog for next version.

[2017-10-16 00:16] damon-myers commented on #535
@gdelavald, Sorry for the delay! Pull request has been created.

[2017-10-16 05:49] ntvis opened #563 "desktop app do not show pasted image"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.58.4
* Operating System: ubunut 16.04 x64
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances:  1
* DB Replicaset Oplog: Disabled
* Node Version: v4.5.0
* desktop app version: 2.9.0
* desktop app OS: windows 7 x64

### Steps to Reproduce:

1. paste a image in channel
2. desktop app do not sh

[2017-10-16 11:18] gdelavald commented on #563
Hey, thanks for reporting. This is an issue on the server running behind a proxy, please check the main repository for similar issues and add your case as well.
Thanks.

[2017-10-16 11:18] #563 closed

[2017-10-16 12:09] localguru commented on #559
@gdelavald I'm using this client on my Android 7 phone:

https://play.google.com/store/apps/details?id=com.konecty.rocket.chat&hl=de

"you should update for 0.58.4 for security reasons": hmmm ... didn't realise that 0.58.4 was  a security update, I thought it was about dependencies. Is there a list of fixed security bugs?

[2017-10-16 13:13] gdelavald commented on #559
@localguru As far as I know, 0.58.3 was a security fix by some dependencies, since you mentioned you were running 0.58.2 that's why I recommended the update.

Let me know if the issue was fixed in .3 so we can close this issue. Thanks!

[2017-10-16 19:11] swvajanyatek opened #564 "Cannot see the new message text box."
## My Setup
- windows 8.1:
- 2.9.0:

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

I can't see the "message" text box at the bottom.  I've tried zooming way in and way out, but no luck.  This seems to have happened after a basic Windows reboot, but might also coincide with a recent update to chrome 61.

### Current Behavior

### Expected Behavio

[2017-10-16 20:22] localguru commented on #559
@gdelavald Upgraded to 0.58.4 now and my cellphone user changes to offline after 15 minutes.

[2017-10-16 21:50] gdelavald commented on #559
@rafaelks Can you clarify about how the mobile app is working with away/offline status?
@localguru Since we're on the Electron repository, I would ask to test on the desktop version regarding the issue mentioned above.

[2017-10-17 03:55] francescoyang opened #565 "fs.js:997 Uncaught Error: ENOTDIR: not a directory, readlink '/Users/xzns/Documents/code/electron/electron/spec/fixtures/asar/a.asar/dir1/link1'"
Uncaught Error: ENOTDIR: not a directory, readlink '/Users/xzns/Documents/code/electron/electron/spec/fixtures/asar/a.asar/dir1/link1'
    at Object.fs.readlinkSync (fs.js:997:18)
    at addExtraFieldsSync (/Users/xzns/Documents/code/electron/Rocket.Chat.Electron/node_modules/fs-jetpack/lib/inspect.js:82:30)
    at Object.inspectSync [as sync] (/Users/xzns/Documents/code/electron/Rocket.Chat.Elect

[2017-10-17 04:11] francescoyang commented on #565
[
<img width="1329" alt="wx20171017-115916 2x" src="https://user-images.githubusercontent.com/3077018/31646410-5a636ed4-b2c7-11e7-8173-d81f5d9cda2a.png">
](url)

[2017-10-18 08:11] rafaelks commented on #559
@gdelavald @localguru Yes. In our [native Android app](https://play.google.com/store/apps/details?id=chat.rocket.android) it works like this:

1. You open the app, it'll use your latest status;
2. You go to background, it'll change your status to **away**;
3. Android kills the app, it'll change your status to **offline**;
4. You close the app, it'll change your status to **offline**;

[2017-10-19 00:21] lcharette commented on #522
I've got the same issue on MacOS, same RC version.

Note that in my case, the "All messages" notifications doesn't work (no sounds or alert when someone post), but I do get notifications when someone mention me.

[2017-10-19 05:43] localguru commented on #559
@gdelavald Gabriel, the desktop version works fine. The electron client never goes offline as log as my notebook is online and the electron client is running. The status changes from online to away, see this stats:

![image](https://user-images.githubusercontent.com/8544984/31755757-601dc7a4-b4a0-11e7-8120-e7b23ee91f8b.png)

The client on the Android cell phone is offline after some time, see this

[2017-10-19 21:55] gdelavald commented on #559
Ok, I think the issue was resolved then, please let me know if something related comes up or if anyone is still having this issue.
Thanks.

[2017-10-19 21:55] #559 closed

[2017-10-20 00:02] lcharette commented on #522
FYI, server was updated to 0.59.1 today. Same issue (web or desktop 2.9)

[2017-10-20 00:39] lcharette commented on #522
Server was updated to 0.59.1 today. Same issue (web or desktop 2.9)

I found this issue to be related to this setting. Not sure the description is applied correctly ?

![capture d ecran 2017-10-19 a 20 22 59](https://user-images.githubusercontent.com/2566513/31800236-79337758-b50d-11e7-8bc2-22fa51953d71.png)

[2017-10-20 04:04] ledainam commented on #536
@gdelavald : i updated to 0.59.1. It still missing extension when downloading files.

[2017-10-20 06:50] LXSysadmin opened #567 "If you upload two files with the same name but different extension, all file extensions are changed to last one uploaded file extension."
My Setup
- Operating System: Windows 10
- App Version: 2.9.0

- [X ] I have tested with the latest version
- [X ] I can simulate the issue easily

When two files are sent with the same name, but different extension, both file extension are renamed to last file extension.
Example:
If i send two files: abc.jpg and abc.dat, recipient get two files abc.dat and abc.dat. The same with three or more file

[2017-10-20 07:39] KervyN commented on #536
We have the same issue.
Reproduction:
Open finder, go to the settings -> adv. setting -> disable "show all file suffix" (the top checkbox)

Workaround:
Open finder, go to the settings -> adv. setting -> check "show all file suffix" (the top checkbox)

Only happens in the Client.

[2017-10-20 11:01] gdelavald commented on #536
Thanks for the additional information @KervyN we will work on a fix for this special case

[2017-10-21 20:52] geekgonecrazy opened #569 "re-arrange servers"
Recently had to add open.rocket.chat (our new community address.  I like having it at the top.  But to do so... I have to remove every single server.  Add it first and then add the others back.

So we need the ability to re-arrange servers

[2017-10-21 20:53] geekgonecrazy opened #570 "edit server"
Kind of related to: #569

But would be great to be able to edit some details about a server.  If even only the server address.

[2017-10-21 23:09] c0m4r opened #571 "almost invisible scrollbar"
## My Setup
- Operating System: Ubuntu 16.04.3 LTS
- App Version: Rocket.Chat+ Version 2.9.0

- [ x ] I have tested with the latest version
- [ x ] I can simulate the issue easily

## Description
https://i.imgur.com/fE3B4tm.png

### Current Behavior
almost invisible scrollbar

### Expected Behavior
handy, visible scrollbar

[2017-10-21 23:21] c0m4r opened #572 "unintuitive on-hover and on-click effect on channels / users"
## My Setup
- Operating System: Ubuntu 16.04.3 LTS
- App Version: Rocket.Chat+ Version 2.9.0

- [ x ] I have tested with the latest version
- [ x ] I can simulate the issue easily

## Description / Current Behavior
on-focus effect: https://i.imgur.com/OfWIgNy.png - clear, contrast background
on-hover effect: https://i.imgur.com/s2AqghJ.png - only "3 dots" showing up, no background change
on-click:

[2017-10-21 23:28] gdelavald commented on #569
Already fixed in the sidebar redesign #556

[2017-10-21 23:28] #569 closed

[2017-10-21 23:41] gdelavald commented on #572
@c0m4r This is related to the design, so please report the issue on the Rocket.Chat main repository. Thanks.

[2017-10-21 23:41] #572 closed

[2017-10-21 23:43] gdelavald commented on #571
@c0m4r This is related to the design, so please report the issue on the Rocket.Chat main repository. Thanks.

[2017-10-21 23:43] #571 closed

[2017-10-23 13:39] ggazzo opened #573 "Close/Min/Max buttons on OSX will overlap the profilepicture if serverlist is closed."
@ausminternet commented on [Mon Oct 23 2017](https://github.com/RocketChat/Rocket.Chat/issues/8600)

![image](https://user-images.githubusercontent.com/5732325/31875845-3b96987e-b7d0-11e7-921e-b35095ec4e91.png)

This can be fixed by adding more `padding-top` to `.sidebar__account` if serverlist is closed.

[2017-10-23 13:39] ggazzo opened #574 "Close/Min/Max buttons on OSX will overlap the profilepicture if serverlist is closed."
@ausminternet commented on [Mon Oct 23 2017](https://github.com/RocketChat/Rocket.Chat/issues/8600)

![image](https://user-images.githubusercontent.com/5732325/31875845-3b96987e-b7d0-11e7-921e-b35095ec4e91.png)

This can be fixed by adding more `padding-top` to `.sidebar__account` if serverlist is closed.

---

@ggazzo commented on [Mon Oct 23 2017](https://github.com/RocketChat/Rocket.Chat/issues

[2017-10-23 13:43] #574 closed

[2017-10-23 15:19] ezef commented on #555
here the same, i set to 0, to never dissapear the notification until the user clicked on it, but not working.

[2017-10-23 18:22] #513 closed

[2017-10-24 07:31] himbeere opened #578 "Uploaded .wav files are not playable from message"
Hello Devs.

Rocketchat Server 0.59.1

Running 2.9.0 on MacOS High Sierra. Unfortunately uploaded wav files do not play back. The playback button is not clickable.

Any ideas?

[2017-10-24 10:43] emign opened #579 "Filenames with umlauts cause broken upload"
On rocketchat+ on iOS when you upload a file (eg pdf) with an umlaut the file seems to upload correctly and is shown in the message stream. But clicking it does not open it but only shifts the text up and down a bit

[2017-10-24 13:06] gdelavald commented on #579
@emign Sorry, is this mobile or on a Mac computer?

[2017-10-24 13:10] emign commented on #579
It is on iOS mobile (iPad and iPhone) with version 1.6.0. the same (umlaut-titled file) can be downloaded via a browser on the device just fine btw.

[2017-10-24 14:58] #579 closed

[2017-10-24 14:58] gdelavald commented on #579
Issue moved to [RocketChat/Rocket.Chat.iOS #851](https://github.com/RocketChat/Rocket.Chat.iOS/issues/851) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-26 16:49] #106 closed

[2017-10-29 19:35] j-kon commented on #549
if you need any help make sure to hit #desktop on open.rocket.chat to find us.

[2017-10-30 20:36] lukasmejia commented on #536
Hi there, same issue on macOSX (High Sierra) Client, missing extensions when downloading files, any updates on this?

[2017-10-31 08:17] p8107406332 commented on #536
hey i want to contribute to this issue can i

[2017-10-31 14:02] gdelavald commented on #536
@lukasmejia @p8107406332 Can you guys try and reproduce this in the latest server version (Rocket.Chat 0.59.3)?

[2017-10-31 14:28] lukasmejia commented on #536
@gdelavald I'm running on snap (0.59.2) no updates available yet...

[2017-10-31 17:59] james007aonderson commented on #549
@gdelavald please review #8735

[2017-11-01 12:36] nicolasdezena opened #587 "Migração de servidor"
Olá meus amigos, preciso de uma ajuda!
Estou usando o rocket chat em uma VM de testes, instalada via snaptshot no ubuntu, preciso agora jogar para o servidor de produção e estou bem perdido, pois nunca mexi com snapshot.

Conseguem me auxiliar? Tutoriais? Qualquer coisa rs.

Abs,
Nicolas Dezena

[2017-11-01 12:38] nicolasdezena commented on #587
Encontrei aqui algo que pode me ajudar rs.

[2017-11-01 12:38] #587 closed

[2017-11-01 15:19] maximecharron commented on #536
I'm running the latest Docker image on version 0.59.3 and we are having the same issue.

[2017-11-01 16:34] p8107406332 commented on #536
Ok I will  try

[2017-11-01 16:48] gdelavald commented on #536
Snap is being updated today, we included a fix for some cases and it might resolve the issue

[2017-11-01 16:50] lukasmejia commented on #536
Great will check later today...

[2017-11-02 21:32] lukasmejia commented on #536
@gdelavald Snap updated (0.59.3), still no extension on macOS client

[2017-11-05 03:09] SilverRainZ opened #588 "yarn check --integrity always failed"
## My Setup
- Operating System: Arch Linux latest
- App Version: 2.9.0

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

### Current Behavior

Whild i build rocket chat with with archlinux's `extra-x86_64-build` ([PKGBUILD](https://aur.archlinux.org/packages/rocketchat-desktop/)), `yarn check --integrity` always failed.

[code]
### Expected Behavio

[2017-11-06 13:27] zedar187 opened #589 "Deprecated Link to KaTex formatting"
## My Setup
- Operating System: Win 10 Prof.
- App Version: 2.9.0
- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
The link of the KaTeX formatting is deprecated. If you click the format in the desktop app, the browser opens the url: https://github.com/Khan/KaTeX/wiki/Function-Support-in-KaTeX

The page states, that one should use the following link

[2017-11-06 17:11] gdelavald commented on #588
Hey @SilverRainZ, I couldn't reproduce this on my local (osx) but I'll test it on some VMs.
Can you add reproducing steps (from checkout to yarn commands executed)? Thanks a lot.

[2017-11-06 19:44] alexbrazier commented on #588
This appears to be an issue with yarn https://github.com/yarnpkg/yarn/issues/3167, and not the Rocket.Chat app.

[2017-11-06 19:44] #588 closed

[2017-11-07 05:30] SilverRainZ commented on #588
Thanks for your replies.

@gdelavald I build it on Arch Linux with devtools' `extra-x86_64-build`, it may can not bee reproduced on macOS.

[2017-11-07 19:41] engelgabriel opened #593 "Handle http redirects and update the server list accordingly"

[2017-11-08 06:52] mkjaer opened #594 "Unable to start 2.10.0 on MacOS"
## My Setup
- Operating System: MacOS 10.13.1 (I also tried latest 10.13.2 beta)
- App Version: 2.10.0

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

Install the 2.10.0 dmg file and it crashes with this crash report.
Installing the 2.9.0 dmg file works.

[code]

### Current Behavior

Crash

### Expected Behavior

Start of the app

[2017-11-08 08:06] localguru opened #595 "Sidebar redesign and dynamic background color doesn't work"
## My Setup
- Operating System: Ubuntu 16.04
- App Version: 2.10.0, 2.14.3, 2.15.0-develop

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

### Current Behavior

Sidebar redesign and dynamic background color doesn't work properly. After starting the sidebar colors are set correctly but when changing between the servers the sidebar color hangs and

[2017-11-09 06:36] andreas-bulling opened #596 "2.10.0 segfaults"
Hi,

I just downloaded the latest version for MacOS but it segfaults straight away.

[2017-11-09 06:37] andreas-bulling commented on #596
duplicate of #594 - closed.

[2017-11-09 06:37] #596 closed

[2017-11-09 08:07] DanielRuf commented on #594
I guess https://www.macstadium.com/solutions/ or any other solution provider for macOS testing makes sense as 2.9.0 and 2.10.0 do not really work on Sierra. cc @macstadium

[2017-11-09 08:30] alexbrazier commented on #594
Sorry about this, got a fix in for it now which should be released soon 😄

[2017-11-09 08:45] andreas-bulling commented on #594
@alexbrazier did you actually test the client on different platforms before releasing it? I am rather surprised that such a fundamental problem was not identified before...

[2017-11-09 08:49] artrmz commented on #594
@alexbrazier I could be beta testing it there are any beta builds releases anywhere? Do not have time to build it myself though.

[2017-11-09 09:07] alexbrazier commented on #594
@andreas-bulling we do test on different platforms, however it seems that this issue was related to using different certificates to build the app, which is why the issue wasn't spotted. In this case we did not do enough testing.

@artrmz Thanks, I have uploaded the dmg here to test: https://drive.google.com/file/d/1H_Xhj1RO4ukcDutJUxUGSt3kop6n_dhI/view?usp=sharing

In the future to avoid these iss

[2017-11-09 09:20] artrmz commented on #594
@alexbrazier Getting warning right now:

![zrzut ekranu 2017-11-09 o 10 19 26](https://user-images.githubusercontent.com/3925166/32597613-7b9e139c-c537-11e7-98b7-0737241e083f.png)

Pressing OK leaves the app with the empty view (grey background).

[2017-11-09 09:27] playmono commented on #184
Black screen came to me after 2.10.

[2017-11-09 09:33] alexbrazier commented on #594
@artrmz this is due to an old issue where the window preferences file contains invalid values. You can resolve it by clearing the app data or deleting or modifying the window preferences file to remove decimals. The file should be located in user/Library/Application Support/Rocket.Chat+

I can put in a fix for this as well so this isn’t necessary.

[2017-11-09 09:58] artrmz commented on #594
@alexbrazier I have tried removing the Rocket.Chat+ folder from Application Support and still same thing happens.

[2017-11-10 08:13] mahkoh opened #598 "2.10.0 does not start because mainWindowState.x is NaN"
## My Setup
- Operating System: Arch Linux
- App Version: 2.10.0

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
* Remove $XDG_CONFIG_DIR/Rocket.Chat+/window-state-main.json
* Start rocketchat

### Current Behavior
* The following error occurs:
![2017-11-10-091039_509x268_scrot](https://user-images.githubusercontent.com/1882250/32648633-0a772c4c-c

[2017-11-10 08:18] artrmz commented on #598
Duplicated #594

[2017-11-10 10:51] DrumSergio commented on #594
Same error on a Debian x64 machine.

[2017-11-10 11:49] hartois commented on #65
Fedora 26 x86_64
rocketchat-2.9.0-538.x86_64
screensharing does not work - request extension

[2017-11-10 12:57] hartois opened #599 "Open menu on Alt+Shift"
## My Setup
- Operating System: Fedora 26 x86_64
- App Version: rocketchat-2.10.0-650.x86_64

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
When I type message and switch keyboard layout by Alt+Shift combination, application menu opens.
On rocketchat-2.9.0-538.x86_64 there is no problems.

### Current Behavior
Application menu opens.

### Expecte

[2017-11-10 14:19] ranjith0 commented on #598
:+1: Also seeing this error on Window 7 SP1 32/64

[2017-11-10 16:11] CodedInk opened #600 "Application is just crashing"
## My Setup
- Operating System: MacOS High Sierra Version 10.13.2 Beta (17C67b)
- App Version: Rocket.Chat.Electron

- [X] I have tested with the latest version
- [X] I can simulate the issue easily

## Description

### Current Behavior

I installed it and it crashed right away and yes I installed it correctly :)
It is not an issue between the head and shoulders.

### Expected Behavior

It should

[2017-11-10 17:07] dnlup opened #601 "Camera not working in snap package"
## My Setup
- Operating System: Ubuntu 16.04.3 LTS
- App Version: 2.7.0

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

### Current Behavior
When installed as a snap package, the app has no access to camera.
Because there is no `camera` interface in the list of plugs, it is not possible to manually connect it
after installation.

### Expected Beh

[2017-11-10 17:17] dnlup commented on #601
In case adding the camera to the list of plugs is ok for you guys, I submitted a PR.

[2017-11-11 10:57] reinerj commented on #600
same here. Latest release just crash direct after start

[2017-11-11 17:54] mkjaer commented on #594
2.10.1 seems to fix this issue. Thanks.

[2017-11-11 17:54] #594 closed

[2017-11-13 04:05] skfin opened #603 "Update.json not recognised in install directory"
## My Setup
- Operating System: Windows 10
- App Version: 2.9, 2.10.1

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
I'm trying to disable update notifications using the update.json file with:

`{  "autoUpdate": false
}`

This works in the appdata folder but not in the install directory.
I've tried it in both the root folder and resources folder

[2017-11-13 07:48] JorisVanEijden opened #604 "Node version security issue"
## My Setup

 - Windows 10
 - Rocket.Chat+ 2.10.1

- [x] I have tested with the latest application version
- [x] I can simulate the issue easily

## Description

Windows version comes with node.dll v8.2.1.0 which has a security issue with zlib (https://nodejs.org/en/blog/vulnerability/oct-2017-dos/)

#### Current Behavior

Node version with known security vulnerabilities used.

#### Expected Behav

[2017-11-13 11:57] Romich777 opened #605 "Compile client code to asm.js"
Are this possible to compile client code to asm.js to improve performance?

[2017-11-13 15:00] tadeu opened #606 "Right-clicking on link could have "Copy URL" option"
In the Windows client, this option is missing: right-clicking an URL and copying the URL to the clipboard (like "Copy link address" from Chrome).

[2017-11-13 15:26] johnyb0y commented on #603
Same for me. This feature would be great for my deployment. We are using Rocketchat in an virtualized enviroment and users cannot update the client on their own.

[2017-11-13 17:41] gdelavald commented on #604
Thanks @JorisVanEijden, we'll update this asap.

[2017-11-13 17:42] gdelavald commented on #603
Thanks for the feedback, it should be an easy fix since we already do that for the servers.json file so if anyone wants to give it a try, PRs welcome.

[2017-11-13 17:43] gdelavald commented on #600
Hotfix 2.10.1 was released to fix this issue, please update when possible and report if it still occurs.

[2017-11-13 17:44] gdelavald commented on #598
Hotfix 2.10.1 was released to fix this issue, please update when possible and report if it still occurs.

[2017-11-13 17:46] reinerj commented on #600
Looks like it iOS fixed,

thanks

[2017-11-13 17:47] gdelavald commented on #595
@localguru Thanks for the feedback. If possible, could you try and reproduce the issue with the developers console open? This way if any exception pops up we can track it down.
Thanks!

[2017-11-13 17:54] gdelavald commented on #578
@himbeere Hey, thanks for the report. Does the voice messages play when sent? You can send one by clicking on the + of the message box and on the Audio Message item (then click again when you're done).

[2017-11-13 18:34] andreas-bulling commented on #561
For me it doesn't even show a video image - only a blank (white) screen.

[2017-11-13 20:05] #600 closed

[2017-11-13 20:05] #598 closed

[2017-11-13 20:19] alexbrazier commented on #605
“asm.js is an intermediate programming language designed to allow computer software written in languages such as C to be run as web applications while maintaining performance characteristics considerably better than standard JavaScript, the typical language used for such applications“ - [Wikipedia](https://en.wikipedia.org/wiki/Asm.js)

Unless I’m not understanding correctly, this would require a

[2017-11-13 22:43] gdelavald commented on #605
It doesn't make a lot of sense since we are using electron, which already connects directly to c++ afaik.
We are looking into ways to optimize the app and we thank you for the suggestion.

[2017-11-14 12:21] diegocortassa opened #607 "Message window quickly opened and closed while installing with silent switch /S"
## My Setup
- Operating System: Windows 7
- App Version: 2.10.1

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

I'd like to deploy the Rocket.Chat Desktop app with a startup script in my GPO. This is the script I'm currently testing:

`@ECHO OFF`

`%SystemDrive%`
`cd %ProgramFiles%`
`if exist "rocketchat" goto end`
`\\\\fileserver\\rocketchat-set

[2017-11-14 13:18] gdelavald commented on #607
@diegocortassa are you running the script with admin rights? Usually the window pops up if you don't have admin privileges to use /allusers

[2017-11-14 13:44] diegocortassa commented on #607
Hi @gdelavald, thanks for your answer.
Yes, when run manually, from a cmd, with admin rights, the installation does work but the window opens anyway. I just tried again, I can't take a screenshot because it closes very quickly but this time I could read the message: "please wait while setup is loading"

[2017-11-14 15:13] gdelavald commented on #607
Thanks, we'll investigate the issue.

[2017-11-15 20:15] HammyHavoc opened #608 "My People support on Windows 10"
As per my [tweet](https://twitter.com/hammyhavoc/status/930889689887854594):
[https://docs.microsoft.com/en-us/windows/uwp/contacts-and-calendar/my-people-support](
https://docs.microsoft.com/en-us/windows/uwp/contacts-and-calendar/my-people-support)

I would love to see support for My People come to RocketChat; seems to be a great way to integrate the chat with Windows 10, and integrates quite ha

[2017-11-16 22:39] rmetzler opened #609 "CVE-2017-5124"
## My Setup
- Operating System: MacOS Sierra
- App Version: Rocket.Chat+ Version 2.10.1

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

Google Chrome was updated recently to version 62. This version fixed CVE-2017-5124 , which is a Universal XSS (UXSS) https://chromereleases.googleblog.com/2017/10/stable-channel-update-for-desktop.html

There is

[2017-11-16 23:44] gdelavald commented on #609
Thanks for the report, will update asap.

[2017-11-17 10:24] Anguel opened #610 "[Feature] Add option to show only first desktop notification until read"
In order to prevent new messages from being overlooked when users are not in front of their computer and the client is minimized I would like to make use of desktop notifications with very long duration (which is already possible).
However it is very annoying to click away all old notifications if a user has sent me multiple messages in the meantime. So it would be very helpful to have an option t

[2017-11-18 07:08] idanielblake commented on #50
Appeared in Rocketchat+ Version 2.10.1 again

[2017-11-19 20:54] rborder commented on #564
Same bug in Ubuntu 17.04.

[2017-11-20 11:39] ghost opened #611 "quoted text not visible on some clients"
Hi Devs.

MacOS High Sierra, Rockchat Server 0.59.3, 2.10.1 Desktop Client.

On some clients the quoted text is not visible. Only the name of quotee and the time is shown. Other does not have this issue although the use the same environment.

![bildschirmfoto 2017-11-20 um 10 47 01](https://user-images.githubusercontent.com/631865/33016717-e392da76-cdef-11e7-999a-b36d4256be34.png)

thanks and chee

[2017-11-21 10:17] Anguel commented on #610
I did some research and it looks like notification duration can be only controlled through Windows registry, i.e. not by applications directly, and can be set only to up to 5 minutes. In order to prevent chat messages from being overlooked the only possibility I can think of is to make the Rocket Chat client blink in the taskbar, even when minimized to the tray. Closing my feature request.

[2017-11-21 10:17] #610 closed

[2017-11-21 10:25] Anguel commented on #172
+1 for this request: I did some research and it looks like notification duration can be only controlled through Windows registry, i.e. not by applications directly, and can be set only to up to 5 minutes. In order to prevent chat messages from being overlooked (which happens constantly because users not always sitting in front of their PC just don't see the small number in the tray) the only possi

[2017-11-21 10:29] Anguel commented on #555
I did some research and it looks like Windows notification duration can be only controlled through Windows registry, i.e. not by applications directly, and can be set only to up to 5 minutes. In order to prevent chat messages from being overlooked (which happens constantly because users not always sitting in front of their PC just don't see the small number in the tray) the only possibility I can

[2017-11-22 08:05] arb-rasmus commented on #380
I'm having this issue as well.
Using laptop and when disconnecting from the dock, it doesn't reset, it stays on the secondary screen which isn't there anymore.

Did the same thing as @kau210 but it's annoying that you have to do it.

[2017-11-22 08:56] mritunjaygoutam12 commented on #589
i am working on it.

[2017-11-22 13:30] gdelavald commented on #589
This should be fixed in the main repository, please check RocketChat/Rocket.Chat

[2017-11-23 09:23] xm3n1 opened #612 "provide deb. Packages on a Repo?"
## Description
Hi,
is it planned to release your .deb Packages on a public Debian repo?
there are Services like https://bintray.com/ which can help for distributing your .deb Packages.

[2017-11-23 09:25] #612 closed

[2017-11-23 09:26] xm3n1 commented on #163
https://bintray.com/  can be a option for you as well for distributing and populating your deb. package

[2017-11-23 09:40] vv221 opened #613 ".deb package - Installation fails on Ubuntu due to a missing directory"
## My Setup
- Ubuntu 17.04
- rocketchat 2.10.1

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
When installing the amd64 .deb package (i386 not tested) on a fresh Ubuntu, it fails during post-install due to /usr/local/bin directory not existing when the post-install script try to put a symbolic link in it.

### Current Behavior
[code]

### Expecte

[2017-11-24 13:02] hasop opened #614 "Windows Client App settings in a file"
## My Setup
- Operating System: Windows
- App Version: Latest

- [X ] I have tested with the latest version
- [ X] I can simulate the issue easily

## Description
Is it possible to create settings file (prefs.json by example) for hiddenMenu or no spellchecking options in Windows App ?
That would be really convenient for mass deployment.

### Current Behavior
This settings are stored in LocalStorag

[2017-11-25 00:26] mritunjaygoutam12 commented on #589
I have changed the link from [https://github.com/Khan/KaTeX/wiki/Function-Support-in-KaTeX
](url) to [https://khan.github.io/KaTeX/function-support.html](url) in Rocket.Chat in my fork(ready for PR).

@gdelavald is it fine to change only link in rocket.chat?

[2017-11-26 16:14] #605 closed

[2017-11-27 08:43] reitzig opened #616 "Links with anchors break badly"
## My Setup
- Operating System: Ubuntu 16.04
- App Version: 2.9.0
- Server Version: 0.57.3

- [ ] I have tested with the latest version
	(Latest version not available as installer/package.)
- [X] I can simulate the issue easily

## Description

Inserting a link with anchor label results in broken HTML in both web and desktop client.

### Current Behavior

I see `#crypto" target="_blank" rel="noope

[2017-11-27 11:30] akrabat opened #617 "Cannot click with Wacom pen"
I Use a Wacom table for accessibility reasons and can no longer click on anything in RocketChat 1.9.0 for OS X.

I suspect that it's an Electron issue as the Slack app had the same problem. Their latest released fixed this issue so maybe integrating the latest Electron will solve it for Rocket.Chat.Electron too.

[2017-11-27 12:27] #601 closed

[2017-11-27 12:29] #609 closed

[2017-11-27 12:44] gdelavald commented on #616
Issue moved to [RocketChat/Rocket.Chat #8954](https://github.com/RocketChat/Rocket.Chat/issues/8954) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-27 12:44] #616 closed

[2017-11-27 12:45] gdelavald commented on #617
Related to https://github.com/electron/electron/issues/7815

[2017-11-27 13:39] reitzig commented on #616
@gdelavald Whoops. For future reference, how do I know which repo to report issues in?

[2017-11-27 16:25] gdelavald commented on #616
@reitzig Don't worry, the confusion is expected in some cases. Usually anything that can be reproducible in the web version is a problem with the core, so it should be reported in the Rocket.Chat repo.
When the problem is closer to the OS, like native notifications, installation issues, client problems, it's more likely to be a problem with the Electron application, and we can solve it here direct

[2017-11-27 16:51] gdelavald commented on #614
Thanks for the suggestion, this is something we have in mind for the next release so stay tuned 😄

[2017-11-27 18:26] gdelavald commented on #604
Closed by #615

[2017-11-27 18:26] #604 closed

[2017-11-28 00:48] gigawhitlocks commented on #430
I'm seeing this in both MATE and xfce4 on Arch

[2017-11-29 08:34] JorisVanEijden commented on #604
Maybe use https://nodesecurity.io/opensource to check the code for vulnerable npm dependencies before release?

[2017-11-29 09:52] klesky opened #618 "Better notification"
## My Setup
- Operating System: Windows 10
- App Version: Version 2.9.0

- [x ] I have tested with the latest version
- [x ] I can simulate the issue easily

## Description

Taskbar icon for the application doesn't blink when you're in private group chat with notification settings enabled

### Current Behavior

### Expected Behavior

Should be able to show blinking taskbar icon in private group ch

[2017-11-29 11:17] johnyb0y opened #619 "Update Process deletes All-Users servers.json config"
## My Setup
- Operating System: Windows 7
- App Version: 2.10.1

- [x ] I have tested with the latest version
- [x ] I can simulate the issue easily

## Description

Updating Rocket.Chat Electron deletes the servers.json in resources folder inside the Install Directory.
I guess this happens, because before updating the install directory is completely purged?
This doesn't happen with per-user Insta

[2017-11-29 15:16] ruKurz opened #620 "Proxy authentication via NTLM for Rocket.Chat and Rocket.Chat+ apps"
When using external storage for attachments or pasting links to external websites and you're running the RC+ app behind a corporate proxy that requires an authentication for resolving the URLs, the preview can't be rendered within the Rocket.Chat+ apps.

For this issue it would be great to see a proxy configuration within the apps, that supports NTLM based authentication for the corporate proxy.

[2017-11-29 15:57] HammyHavoc opened #621 "Automatically attempt to reconnect after failure"
As per my tweet on [https://twitter.com/hammyhavoc/status/935595873656098816](https://twitter.com/hammyhavoc/status/935595873656098816), I've been asked to open an issue here regarding it.

[2017-11-30 07:40] himbeere commented on #578
Yes they do.

cheers
t.

[2017-11-30 12:16] Anguel opened #622 "Really bad user experience with new message notifications"
I have not expected so bad user experience with the Rocket Chat Client (Windows 10 used here). We spent much time installing a rocket chat server and users just don't notice that new messages have arrived. We are even thinking about switching to another chat program for that reason. And I see that other users have the same issue here.

This is not an enhancement request, this is a request for esse

[2017-11-30 20:04] tsesliv opened #623 "main window is not displaying"
## My Setup
- Operating System: Windows 7 Pro x64
- App Version: 2.10.1.598

- [ X] I have tested with the latest version
- [ X] I can simulate the issue easily

## Description

Message: Windows client 2.10.1.598, on Win7 – main window is not displaying, chat still is active in taskbar and pop-ups appear on new messages, but chat window is not displaying (for less than second it flashes and then h

[2017-12-01 10:03] JannikZed opened #624 "Broken layout for macOS when toggled server list"
Description:

The layout for the macOS client has a broken layout with Rocket.chat server version 0.59.3:
<img width="607" alt="33241933-23d3d824-d2cd-11e7-8578-8083c127830f" src="https://user-images.githubusercontent.com/7526174/33477779-40732422-d687-11e7-858d-3aa970471719.png">

Server Setup Information:

Version of Rocket.Chat Server: 0.59.3
Operating System: macOS 10.13.1
Deployment Method(sn

[2017-12-01 18:04] rbland opened #625 "System Tray Icon Issues in KDE/Fedora."
Howdy,

I'm having some trouble with the system tray icon even with the latest RocketChat version.

## My Setup
- Operating System: Fedora 21
- Desktop Environment: KDE 4.14.9
- App Version: 2.10.1

## Description
There are really two issues:

The first is all icons displayed in the tray are not being scaled to fit the space:
![rocket_system_tray](https://user-images.githubusercontent.com/1904076/

[2017-12-01 18:50] gdelavald commented on #623
Thanks for the report, this seem like a regression bug and we'll investigate and fix it as soon as possible.

[2017-12-01 18:52] gdelavald commented on #624
Hey @JannikZed, can you confirm which version of Rocket.Chat+ are you using? The electron version 2.10.1 already fixed this with the sidebar redesign.

[2017-12-01 19:03] #578 closed

[2017-12-01 19:03] gdelavald commented on #578
Issue moved to [RocketChat/Rocket.Chat #8995](https://github.com/RocketChat/Rocket.Chat/issues/8995) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-01 19:07] gdelavald commented on #619
Thanks for the report, we'll investigate and check how we can make sure the customisation from servers stay through updates.

[2017-12-01 19:10] gdelavald commented on #620
Thanks for the suggestion, we have had talks about this previously but just didn't have the chance to focus on this.

[2017-12-01 23:51] JannikZed commented on #624
Yep, updating to the newest version fixed the bug! Thank you.

[2017-12-01 23:51] #624 closed

[2017-12-04 20:24] #589 closed

[2017-12-05 12:00] tanc opened #626 "Strange paint issue when app gets focus (occasional occurrence)"
## My Setup
- Operating System: MacOS 10.13.1
- App Version: 2.10.1

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
Seems to happen sporadically, usually when the rocket.chat app becomes the focused window after not being looked at for a bit. Once it kicks in a refresh (Command + R) clears it but it often comes back. A restart of the app keeps it

[2017-12-05 16:54] gdelavald commented on #621
Hey @HammyHavoc, thanks for the suggestion. That would actually be pretty cool, we can't focus on it right now but we'd love if someone from the community could work on this.

[2017-12-05 17:03] lukasmejia commented on #536
Hi guys, Any updates on this???

[2017-12-05 17:13] gdelavald commented on #536
@lukasmejia seems like the bugfix for the server didn't fix the issue, we'll investigate further if it's related to the app at all.

[2017-12-05 17:15] lukasmejia commented on #536
@gdelavald Thanks!

[2017-12-05 17:30] tanc commented on #626
One of our users is reporting this behaviour on his Android app, so I wonder if this is an upstream issue with rocket.chat? I'll try running it in the browser for a day and see if it repeats there.

[2017-12-05 18:06] gdelavald commented on #626
I was able to reproduce this on the Electron app on Mac, but this happening on the Android is something that would be really weird.
Let me know if you find other cases of this happening.

[2017-12-05 22:08] ozeas commented on #599
Can I help here?

[2017-12-05 22:09] ozeas commented on #599
Maybe I can send a PR to this issue. Can I try?

[2017-12-05 22:34] Romich777 opened #627 "Client doesn't run on Debian Stretch"
After updating client to version 2.10 and 2.10.1 I get white page.
Clean reinstalling doesn't help.

[2017-12-05 22:36] hartois commented on #599
I think, if you can make PR - do this!

[2017-12-06 09:27] finnlewis commented on #626
After updating Rocket on my Galaxy S6 yesterday, it is now unusable, looking similar to the issue @tanc reports above. Here's a screenshot
![screenshot_20171206-092459](https://user-images.githubusercontent.com/326588/33654304-99ae8d7c-da67-11e7-853e-37af6d65a6b5.jpg)

[2017-12-06 09:45] TheReal1604 opened #628 "Trayicon should blink when a new message arrives a channel (not mentioned) with enabled desktop notifications"
## My Setup
- Operating System: Windows 10
- App Version: 2.10.1

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
In https://github.com/RocketChat/Rocket.Chat.Electron/commit/263ee60ce689a1b37ff3239b8e0af6dd477513de @rodrigok make the icon blink if the user is mentioned from another user. We need this functionality also with channels, there the opt

[2017-12-06 11:43] tanc commented on #626
I've been using rocket.chat in a Chrome tab all day and haven't been able to reproduce the issue.

[2017-12-06 13:26] gdelavald commented on #626
@finnlewis please report this issue in the appropriate repository (Rocket.Chat.Android since it's an Android bug).

@tanc this seems to occur only on the Electron app, thanks for confirming.

[2017-12-06 15:38] pascal-t opened #1050 "It is Impossible to write 'ö' on US-International Keyboard Layout"
### Description:

Writing German (or other special) characters on an English keyboard Layout requires you to first selct the United-States International Layout. Then you can hit [rightAlt] + [Key] to write the desired Umlaut.
This works in most cases:
[Atl]+[Q] for 'ä' and the uppercase variant; [Alt]+[Y] for 'ü' and the uppercase variant; [Alt]+[S] for ß;
However this does not work for [Alt]+[P]

[2017-12-06 21:30] alexbrazier commented on #622
@Anguel Sorry to hear that. We will investigate notification issues on Windows 10 and see how they can be improved.

As for new messages appearing on top, there is a setting in user preferences to enable this:
![image](https://user-images.githubusercontent.com/5689874/33686087-95c8a526-dacb-11e7-8c10-9329f0176985.png)

[2017-12-07 08:56] Anguel commented on #622
Thanks a lot for the information. I will immediately change it. However I still think that a blinking option is the best as people immediately know where to look at, the small numbers can still easily be missed. Also a global server setting for this is more than welcome, so that we don't have to make the users configure this.

[2017-12-08 09:44] menkow opened #629 "Multiple files upload have all the same name"
- Version 2.10.1
- Windows 7
- I can simulate the issue easily

When I select several files in Windows Explorer and then drag and drop it on RocketChat conversation there is all files with same file name.
![screenshot_1](https://user-images.githubusercontent.com/1929460/33760023-6c520598-dc15-11e7-8738-c1208a6fe30b.png)
![screenshot_2](https://user-images.githubusercontent.com/1929460/33760026-6ee

[2017-12-08 11:21] Levainen opened #630 "When synchronizing LDAP, users with the same emails are not added to the list of users and, accordingly, can not enter."
## My Setup
- Operating System: ubuntu server 16.04
- App Version: 0.59.4
--

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

Greetings.
Who faced this problem:
When synchronizing LDAP, users with the same emails are not added to the list of users and, accordingly, can not enter.
Can I somehow configure that the mail is not considered, and only the login was used

[2017-12-08 11:23] #630 closed

[2017-12-08 16:07] graywolf336 commented on #629
Duplicate of RocketChat/Rocket.Chat#7291

[2017-12-08 16:07] #629 closed

[2017-12-09 09:50] Orlando1300 opened #631 "no connection a javascript error occures in the main process"
## My Setup
- Operating System:
- App Version:

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

### Current Behavior

### Expected Behavior

[2017-12-11 12:35] tanc commented on #626
@gdelavald any idea what is causing this? I had a good 24 hours without the bug occurring and then today it seemed to co-incide with high CPU use of Window Server, requiring a reboot. I'll keep monitoring for any clues, but if you already know what causes the issue then I'll keep quiet :wink:

[2017-12-11 14:24] AndreiLopatenco opened #632 "Hide Unread Room Status toggle hides mentions too"
## My Setup
- Operating System: macOS High Sierra 10.13.2
- App Version: 2.10.1

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

### Steps to Reproduce:

1. Join a room
2. Open notifications settings side panel
3. Set Hide Unread Room Status to Enabled

### Expected behavior:

I expect to not see an unread count on the room list and an icon badge with a counter *

[2017-12-11 16:11] nickbroon commented on #283
:+1:

[2017-12-11 22:47] rafaelks opened #633 "[BUG] Shortcut of the server always increase (even after removing a server)"
## My Setup

- Operating System: macOS 10.13.2
- App Version: 2.9.0

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

![2017-12-11 20 45 55](https://user-images.githubusercontent.com/551004/33857797-60369b9c-deb4-11e7-8a9a-7cffcb7b3743.gif)

### Current Behavior

It doesn't add the correct shortcut number to the server.

### Expected Behavior

It s

[2017-12-11 22:48] rafaelks commented on #633
Note: after closing the app and opening again, doing the same operation would add the server to the correct position. But if I removed a server and added another one, it would be wrong again.

[2017-12-12 07:35] T-Motodate opened #634 "[Windows App:Rocket.Chat+]New avatar won't be applied in my own's pc."
## My Setup
- Operating System: Windows 10 Home
- App Version: 2.10.1

## Description
At the windows app(the Rocket.Chat+).
New avatar, that uploaded in the "Avatar" pane in the my account section, won't be applied in my own's PC.
However, in the other PC's Rocket.Chat+, new avatar was applied.

### Steps to reproduce
1.Moves to "My Acount" section.
2.Moves to "Avatar" Pane in the left side bar.
3

[2017-12-13 09:01] pawhal opened #1087 "Screen sharing in Video Chat stucks at loading"
Hi. While trying to share a screen via Video Chat the loading circle keeps moving but nothing happens
![untitled](https://user-images.githubusercontent.com/28776795/33929443-cdd883d2-dfe9-11e7-8de3-98c45986356a.png)
Jitsi server is fully functioning (screen sharing also) on both browsers (Chrome and Firefox).
Video and audio are great and the only thing that doesn't work is sharing a screen.

###

[2017-12-14 01:56] jarro2783 opened #635 "Leaving private room loses the room"
## My Setup
- Operating System: Arch Linux
- App Version: 2.10.1

- [x ] I have tested with the latest version
- [x ] I can simulate the issue easily

## Description

If I am the last owner of a private room to leave, I get a warning saying that I can't leave the room without assigning a new owner, and app forgets that the room exists.

### Current Behavior

When I am the last to leave a private r

[2017-12-14 01:57] jarro2783 commented on #635
I also discovered that if I set the room to public in the web UI it comes back. I can then reproduce the exact problem again in the desktop app.

[2017-12-14 15:25] obfuscoder opened #636 "Rocket Chat client 2.9.0 under Ubuntu x64 17.10 does not show any UI after restart"
## My Setup
- Operating System: Ubuntu x64 17.10
- App Version: 2.9.0 amd 64

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

After downloading ans installation of rocketchat_2.9.0_amd64.deb on Ubuntu x64 17.10 I could start the application and see the UI. Then I restarted my PC and started the applicaiton after login again. There was no UI shown.

[2017-12-14 17:12] karlprieb opened #637 "Allow replies on Windows 10 desktop notifications like Skype"
@HammyHavoc commented on [Mon Dec 11 2017](https://github.com/RocketChat/Rocket.Chat/issues/9076)

 Skype allows users to respond directly to a message's notification, it would be really nice if we could do this in RocketChat, it's disruptive opening and closing the window sometimes. :- )

[2017-12-14 17:30] karlprieb opened #638 "Desktop: Red badge with dot ("."), when no new messages."
@seriyvolk83 commented on [Sun Dec 03 2017](https://github.com/RocketChat/Rocket.Chat/issues/9001)

When there are no new messages the app icon shows red badge with a dot ("."). This is really confusing. It should not show badge at all.

[2017-12-15 11:16] netzwerch commented on #621
I'd also love to see this feature. I've also got the same problem when using autostart, meaning that the client gets started without having a wifi/vpn connection yet.

[2017-12-15 16:37] dxas90 commented on #65
+1

[2017-12-15 19:30] samgos opened #639 "Chromium Error ? -> Couldn't set selectedTextBackgroundColor from default ()"
`[19:22:52] Using gulpfile ~/Desktop/Rocket.Chat.Electron/gulpfile.js`
`[19:22:52] Starting 'bundle'...`
`[19:22:52] Starting 'less'...`
`[19:22:52] Starting 'environment'...`
`[19:22:53] Finished 'environment' after 48 ms`
`[19:22:53] Starting 'watch'...`
`[19:22:53] Finished 'watch' after 10 ms`
`[19:22:53] Finished 'bundle' after 568 ms`
`[19:22:53] Finished 'less' after 806 ms`
`[19:22:53] Sta

[2017-12-19 20:11] TomaszKorwel commented on #240
Any word on when 2.11 will be released?

[2017-12-20 07:59] manuelmsoria opened #640 "Error executing windows client"
## My Setup
- Operating System: Windows 10 Home. Version 10.0.16299 compilation 16299.
- App Version: 2.9.0

- I have tested with the latest version
- I can simulate the issue easily

## Description
If I try to start windows electron client y seems to show splash screen and it's closed inmediatly. If started to happen after last Windows update.
If I try to execute it from console an explicit error

[2017-12-20 08:48] fcoppolani commented on #367
Hi @gdelavald, sorry for the delay, I tried out the last version. It looks good enough to me, I still believe an overlay image on the icone in the taskbar will still be an improvement (the best would be with a number of message, like on the tray icone).

[2017-12-21 21:32] msva commented on #50
@idanielblake as well as in new Slack versions, lol.

// although, looks like the real source of the issue is in Electron#11106 (like it's mentioned above)

[2017-12-21 22:55] DK-Stern commented on #636
I have the same problem and the same setup like you.

[2017-12-23 09:37] Nopony commented on #640
Experiencing same issue on Win10 Enterprise build 15063

[code]

[2017-12-26 03:33] imtrobin opened #641 "Request: Remove deactivated users from all rooms"
Hi, when I deactivate a user, is it possible to have a way to unsubscribe them from all the rooms. Currently I have many rooms and I have to do it manually for every one.

[2017-12-26 12:44] rex4539 opened #642 "Incoming messages do not appear often"
## My Setup
- Operating System: macOS 10.13.3 (17D25b)
- App Version: 2.10.1

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
1. Have Rocket Chat running in the background.
2. Leave it running for a while and start receiving messages in various channels.

### Current Behavior
Very often the messages do not appear and it seems like you have not rece

[2017-12-26 12:48] rex4539 opened #643 "Exception on quit"
## My Setup
- Operating System: macOS 10.13.3 (17D25b)
- App Version: 2.10.1

- [x] I have tested with the latest version
- [ ] I can simulate the issue easily

## Description
Quit Rocket Chat.

### Current Behavior
Exception is thrown.

`Uncaught Exception:
Error: Object has been destroyed
    at Object.saveState (/Applications/Rocket.Chat+.app/Contents/Resources/app.asar/app/background.js:241:18

[2017-12-26 12:59] rex4539 opened #644 "Build native GUI clients"
The current situation with the Electron ports appears convenient, I can understand, but performance is slooooowwww...

I propose native GUI clients using a modern, fast and cross platform language. I suggest the use of [Swift](https://swift.org/about/#swiftorg-and-open-source).

The result is a modern looking and responsive client with feature parity that runs on Linux, macOS and [Windows](https:/

[2017-12-26 13:26] gdelavald commented on #644
Hey @rex4539, we are always open to contributions from the community. If you think this could be a good project, we can try and gather some contributors to work on it.
Thanks!

[2017-12-26 15:39] SDAdham commented on #636
same here as well

[2017-12-26 15:47] gdelavald commented on #641
@imtrobin Can you request this on the main repo, as this is a Rocket.Chat functionality instead of an electron's one.

[2017-12-26 15:47] #641 closed

[2017-12-28 08:30] tanc commented on #626
I tested this app again after a couple of weeks using Rocket.chat in a Chrome tab and can confirm this issue does kick off a nasty Window Server spike in CPU. Once the paint issue occurs its impossible to get the Window Server CPU usage down even after quitting this app. After a short while the system becomes extremely sluggish and a reboot is required.

[2018-01-02 22:44] geekgonecrazy opened #645 "Ability to set status across all servers."
## Description

Would be great to be able to set my status across all servers.

Say i'm getting into the zone and don't want interruptions.  If I could set the status to busy across every server I wouldn't forget to set my status on one server and get disrupted :)

[2018-01-02 22:46] geekgonecrazy commented on #635
Please open or locate an issue on the Rocket.Chat repo: https://github.com/rocketchat/rocket.chat/issues

This issue doesn't apply to the desktop client

[2018-01-02 23:46] jarro2783 commented on #635
This is *only* a bug on the desktop client, so I don't see how it doesn't apply.

[2018-01-03 06:53] geekgonecrazy commented on #635
If you browse to your server via the website do you not get the same issue?  Based on the description I can't see how you wouldn't

[2018-01-03 07:02] jarro2783 commented on #635
No, the bug does not appear on the web UI, only the desktop client. In my follow up comment I stated that I can recover the room with the web UI.

[2018-01-03 09:42] Snom commented on #636
I got the same issue... is it possible to debug the client to see some logs while starting ?

[2018-01-03 14:41] matrottier commented on #636
same here

[2018-01-04 08:28] samiball commented on #636
same here

[2018-01-04 14:16] andrefaria commented on #221
Hi guys, we have just migrated to rocket.chat from matter most, and this is the only feature that I'm missing for now. It's really annoying having to use the mouse to go to the next channel. Congrats for the product and keep on rocking!

[2018-01-05 13:09] vchrombie commented on #184
I am really interested in contributing to Rocket.Chat
Can you help me in getting started?

Can I work on this issue?

[2018-01-05 13:47] gdelavald commented on #184
@vchrombie Hey, it's awesome to hear that, so welcome.
For this issue, I would suggest looking at the flags that @geekgonecrazy added above and check if they solve the issue of GPU acceleration, also, you would need to add a menu option for `Disable GPU Acceleration` that would trigger a restart of the app and enable those flags on launch.
If you need more guidance, please join us at open.rocket.c

[2018-01-05 13:49] gdelavald commented on #635
Hey, we'll investigate the issue and check how we can solve that, if through a fix on the app or in the web ui.
Thanks!

[2018-01-08 05:38] andranikvfx commented on #172
+1 for this. We are running into an issue where people just miss messages or don't see it for a while. Another option could be to bring the rocketchat window in front of everything to indicate that there is a new message.

[2018-01-08 10:11] cries commented on #636
Same here

[2018-01-08 10:56] Snom commented on #636
The installation of the latest version: [2.10.1 ](https://github.com/RocketChat/Rocket.Chat.Electron/releases/tag/2.10.1) fixed my problem.

[2018-01-08 15:10] JLueke opened #646 "Clearing storage on exit to close OAuth sessions"
## My Setup
- Operating System:
MacOs Sierra 10.12.6
Windows 10

- App Version:
2.9 (on Mac)
2.10.1 (on Windows)

- [ ] I have tested with the latest version
- [x ] I can simulate the issue easily

## Description
This is a problem regarding the usage of the RocketChat desktop app on a public / shared computer.
If you use to login via OAuth the session it is still running even when you exit the des

[2018-01-09 13:33] manuelmsoria commented on #640
Reinstalling it as global app (for all users) it works perfectly.

[2018-01-09 15:22] gdelavald commented on #640
Thanks for the workaround @manuelmsoria, we are looking into a fix for this for the next release.

[2018-01-10 15:51] rex4539 opened #647 "Incoming messages not syncing when app is in the background"
- Operating System: macOS 10.13.3 (17D34a)
- App Version: 2.10.1

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
1. Keep Rocket Chat open and pointing to a channel.
2. Put it in the background and leave it there for a long period of time (like one hour).
3. During that one hour, have some channel participants send various messages.
4. After that o

[2018-01-11 06:50] loloiccl opened #648 "Though "Compact" view mode is set, when a user visit "Account Preference" view mode "Normal" is chose"
## My Setup
- Operating System: mac OS High Sierra
- App Version: 2.9.0

- [ x ] I have tested with the latest version
- [ x ] I can simulate the issue easily

## Description

### Current Behavior

Though "Compact" view mode is set, when a user visit "Account Preference" view mode "Normal" is chose.

### Expected Behavior

"Compact" is chose.

[2018-01-11 17:55] hprem commented on #636
I too have the same issue and upgrade to 2.10.1 hasn't fixed it for me

[2018-01-12 08:07] samiball commented on #636
@hprem You should try to uninstall rather than update the application. Before reinstalling remove the config folder ".config/Rocket.Chat+".
It worked for me.

[2018-01-12 11:56] hprem commented on #636
Deleting the `.config/Rocket.Chat+` folder always made it to work, but I would loose all my settings.
So I know it was something under that folder it didn't like. After a lot of trial and error runs, I found that it was due to the `.config/Rocket.Chat+/window-state-main.json` file. If I rename that file, i could start rocket chat client without any issues. So I examined that file and found that ro

[2018-01-12 12:09] gdelavald commented on #636
@hprem thanks for the workaround. Your investigation will help us fix the issue.

[2018-01-15 23:32] bby-bishopclark opened #649 "SRPMs missing from release"
## Description
RPM release does not include Source RPM

### Current Behavior
https://github.com/RocketChat/Rocket.Chat.Electron/releases shows binary RPM releases, but no Source-RPM

### Expected Behavior
I expected an SRPM to be present, with which one could quickly inspect the build process or rebuild the binary RPM.

[2018-01-17 14:25] jaypea commented on #623
steps to reproduce:
 - open chat
 - press "ctrl+w" in a chat window
 - gui closes
 - entry `"isHidden": false` will change to `"isHidden": true` in `~/.config/Rocket.Chat+/window-state-main.json`
 - gui will not come up again

[2018-01-17 14:26] jaypea commented on #636
steps to reproduce:
 - open chat
 - press "ctrl+w" in a chat window
 - gui closes
 - entry "isHidden": false will change to "isHidden": true in ~/.config/Rocket.Chat+/window-state-main.json
 - gui will not come up again

[2018-01-17 14:56] jaypea commented on #623
i've found this discussion which might help with closing and hiding the window: https://discuss.atom.io/t/how-to-catch-the-event-of-clicking-the-app-windows-close-button-in-electron-app/21425/8

[2018-01-17 14:56] jaypea commented on #636
i've found this discussion which might help with closing and hiding the window: https://discuss.atom.io/t/how-to-catch-the-event-of-clicking-the-app-windows-close-button-in-electron-app/21425/8

[2018-01-17 19:42] tsesliv commented on #623
window-state-main.json editing helps, thanks!
x and y positions were set to "-32000" something. after setting to 0 window opens correctly.

[2018-01-17 19:42] #623 closed

[2018-01-19 16:14] reitzig opened #651 "Store temporary data in a meaningful location (GNU/Linux)"
## My Setup
- Operating System: Ubuntu 16.04
- App Version: 2.10.1

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
Backing up my `~/.config` folder, I noticed a huge bloat beyond what config files should cause. Turns out Rocket.Chat stores over 100MB of data in `.config`.

### Current Behavior
Rocket.Chat stores all app data in `.config`.

### Exp

[2018-01-21 21:32] MauriceBrg commented on #380
This issue still exists on the **2.9.0** Client and is really annoying, but the workaround works as well...

[2018-01-23 03:19] samrg472 opened #652 "Meteor is undefined"
## My Setup
- Operating System: Mac 10.13.2
- App Version: 2.10.1

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
I receive a `Server Failed to Load` error from this issue. The console reports the following log:

[code]

[2018-01-23 06:46] vertimus opened #653 "Hidden Character Count when Using Chinese Input Method with Radicals"
## My Setup
- Operating System: MacOS 10.13.1
- App Version: 0.60.4

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

Using Chinese input methods with radicals (such as MacOS Bopomofo, Boshiamy, etc), hitting backspace to correct/delete all radicals before a complete Chinese character is built will appear to clear all radicals but in fact leaves a

[2018-01-23 13:42] gdelavald commented on #652
@samrg472 Hey, this is somewhat expected when the server failed to load since the server is the one who provides the Meteor reference. Did this cause any other issue or a reload solved it?

[2018-01-23 16:09] kviolka opened #654 "Start minimized?"
How can I start the rocketchat client on Linux in minimized to tray mode?
thank you! :)

[2018-01-23 17:47] gdelavald commented on #648
Closing this as this is not related to Electron. Please check the [Rocket.Chat](https://github.com/RocketChat/Rocket.Chat) repository for more information.

[2018-01-23 17:47] #648 closed

[2018-01-23 17:49] gdelavald commented on #654
Hey @kviolka I don't think there is an option for this at the moment. If you want to work on this please fork and open a PR for us 😄  Thanks!

[2018-01-23 17:51] loloiccl commented on #648
Sorry for my mistake.
Thanks.

[2018-01-23 18:16] gdelavald commented on #648
@loloiccl No problem, I moved the ticket to the appropriate repository [here](https://github.com/RocketChat/Rocket.Chat/issues/9476)

[2018-01-23 19:15] samrg472 commented on #652
It only seems to be an issue on this particular server for me: https://steemit.chat
The server on the website works without issues: https://open.rocket.chat

[2018-01-24 09:14] agustinventura opened #656 "Files preview and download not working"
## My Setup
- Operating System:
Windows 7 Professional Service pack 1
- App Version:
2.10.1

- [ x] I have tested with the latest version
- [ x] I can simulate the issue easily

## Description
Files upload works but preview and downloads don't.

### Current Behavior
Whenever a file is uploaded to the server, preview and download doesn't work, see screenshot below:
![preview and download in rocket

[2018-01-24 13:20] gdelavald commented on #656
Hey @agustinventura, is this from the open.rocket.chat server? Or are you testing on a private one?
Thanks for reporting this.

[2018-01-24 14:01] agustinventura commented on #656
hi @gdelavald this is a private server.
Our current configuration is Rocket.Chat 0.60.4 running on Node.js 8.9.3 with MongoDB 3.6 on a different server. Both servers are Debian 8.9.
We are storing files on FileSystem (instead of GridFS) and seems to be ok there, that's why I suspect of a client issue.
Thanks for this wonderful tool :)

[2018-01-24 15:56] rmetzler opened #657 "Upgrade Electron"
Electron just released a new version, mitigating a Remote Code Execution vulnerability CVE-2018-1000006.

- https://electronjs.org/blog/protocol-handler-fix
- https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-1000006

I didn't test this, but it seems like Rocket.Chat.Electron is vulnerable to this, you can easily find code like this:

https://github.com/RocketChat/Rocket.Chat.Electron/blob/5

[2018-01-24 16:12] gdelavald commented on #657
@rmetzler thanks for the report, we are already working on releasing a hotfix for this and it should be out this week.

[2018-01-25 13:55] #657 closed

[2018-01-25 16:13] rex4539 opened #658 "macOS build missing for 2.10.2"
https://github.com/RocketChat/Rocket.Chat.Electron/releases/tag/2.10.2

https://rocket.chat/download

[2018-01-25 16:34] gdelavald commented on #658
@rex4539 Thanks for the report, we are running the build process again as it seems that Travis had a problem uploading the MacOS artifacts.

[2018-01-26 11:54] jbkalla commented on #658
@gdelavald, thanks for that answer.  I was looking as well.  :)

[2018-01-26 19:54] gdelavald commented on #658
Hey folks, sorry about the delay on this. You can find the macOS installer [here](https://github.com/RocketChat/Rocket.Chat.Electron/releases/tag/2.10.2) or directly in the [rocket.chat/download](https://rocket.chat/download) page

[2018-01-26 19:54] #658 closed

[2018-01-27 21:15] samrg472 commented on #652
I'm closing this as this is most likely due to Cloudflare blocking the app from accessing the server.

[2018-01-27 21:15] #652 closed

[2018-02-01 07:40] JorisVanEijden opened #659 "Node.dll insecure version"
## My Setup

 - Windows 10
 - Rocket.Chat+ 2.10.2

- [x] I have tested with the latest application version
- [x] I can simulate the issue easily

## Description

Windows version comes with node.dll v7.9.0 which has a security issue (https://nodejs.org/en/blog/vulnerability/july-2017-security-releases/)
Fixed version is 7.10.1

#### Current Behavior

Node version with known security vulnerabilities

[2018-02-01 13:15] gdelavald commented on #659
Thanks @JorisVanEijden I'll check the necessary updates to fix this.

[2018-02-01 17:34] martinvonwittich opened #660 "Reduce the delay when opening a channel for the first time?"
## My Setup
- Operating System: Ubuntu 17.10
- App Version: 2.10.2

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

When opening a channel for the first time since starting the app (also when opening it after not having opened it for some time, I believe), Rocket.Chat takes 1-2 seconds to load the channel while displaying a loading animation. IMHO

[2018-02-02 12:17] agustinventura commented on #656
Hi @gdelavald, any news about this? Is something related to our deployment? Has anyone been able to reproduce it?
Thanks!

[2018-02-05 14:52] engelgabriel commented on #659
@JorisVanEijden can you try the version 2.10.3?

[2018-02-06 07:20] JorisVanEijden commented on #659
2.10.3 ships with 7.9.0 too. 😞
2.10.4 contains node 8.2.1 👍

[2018-02-06 07:53] chrisgns commented on #504
This issue is also discussed in the Rocket.Chat queue, I think using the PR should help a lot of us

https://github.com/RocketChat/Rocket.Chat/issues/9099

[2018-02-07 16:54] engelgabriel commented on #659
@JorisVanEijden please try version `2.10.5`

[2018-02-08 01:25] Aninstance opened #662 "Snap crashes Gnome3 session on Ubuntu 17.10"
## My Setup
- Operating System: Ubuntu 17.10 (kernel 4.15.2-041502-generic)
- App Version: 2.7.0 (latest version available as a snap as default when installing through Ubuntu at time of testing).

- [x ] I have tested with the latest version
- [x ] I can simulate the issue easily

## Description
To reproduce, I just need to open the app on my system.

### Current Behavior
The entire Gnome 3 shell

[2018-02-08 07:26] subesokun opened #663 "Clicking a link opens a new empty browser window"
## My Setup
- Operating System: MacOS High Sierra (10.13.3)
- App Version: 2.10.5
- Chome: 63.0.3239.132 (Official Build) (64-bit)

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
When clicking a link in any channel a new empty browser window (in my case Chrome) gets opened. The website from the link itself won't be opened.

### Current Behavior
Cl

[2018-02-08 09:00] subesokun commented on #663
Not sure why but after a complete restart it's working again. I'll reopen this issue if I can reproduce it again.

[2018-02-08 09:00] #663 closed

[2018-02-08 11:55] Maqsyo commented on #172
@andranikvfx we are missing exactly this feature

[2018-02-09 07:03] JorisVanEijden commented on #659
2.10.5 also has node 8.2.1

[2018-02-09 15:51] codyx opened #664 "Installation fails on Ubuntu (latest-linux.yml not found)"
## My Setup
- Operating System: Ubuntu x86_64 GNU/Linux
- App Version: 2.10.5

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
Applications fails to launch because the auto-updater checks for the latest-linux.yml file (which does not exist --only latest.yml exists for linux).

### Current Behavior
Application attempts to download a non-existing lat

[2018-02-13 08:48] auyongtc opened #665 "macOS Text Replacement not working on the desktop app"
## My Setup
- Operating System: macOS 10.13.3
- App Version: 2.10.5

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
macOS (like iOS) have this Text Replacement feature on the OS-level where the user can specify custom text replacement that will be replaced when the keyword is typed in any textbox. For example, user can type "omw" (without quotes)

[2018-02-14 13:18] herrlado commented on #486
Have the similar problems with rocket chat client on linux  (Same machine).

[2018-02-15 14:39] petevg commented on #662
This happens to me, too. Both the spotify snap and an electron app that I made locally crash Gnome shell. I see a segfault in the system logs when it happens:

[code]

[2018-02-15 14:48] senpl opened #666 "Dark theme for new versions"
This basic features is not easily available. Solutions that works on old version seems to not work in new one. Can someone give quick method for setting dark theme. Or could it be just button in settings?

[2018-02-16 13:05] mdesign83 opened #667 "Adding VisualElementsManifest"
## My Setup
- Operating System: WIN10
- App Version: 2.10.5

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
When I pin Rocket.Chat+ to the Start the icon has the default blue background.

### Current Behavior
Pinned application's background is vivid blue.

### Expected Behavior
Pinned application background should be the new dark grey.

## Solutio

[2018-02-16 13:09] gdelavald commented on #667
@mdesign83 Hey, since you know the needed change, what do you think about doing a PR to fix this?
Thanks for the feedback!

[2018-02-16 13:12] mdesign83 commented on #667
I'd really love to, but I've never worked on this project yet. Dunno where should I create this xml file to be sure it will be next to the built executable after the installation.
I you give me some suggestion where should I start, I will do it.

[2018-02-16 13:15] gdelavald commented on #667
I'm not sure if Electron already sets those properties, but you could try adding that xml to the build folder, so it gets added to the bundle. If that doesn't work I would look into the windows electron packager to check if there is anywhere I could add that property.

[2018-02-16 13:17] mdesign83 commented on #667
I just dig into it, try to create a successful build, then I send a pr...

[2018-02-16 13:18] gdelavald commented on #664
Hey @codyx the yarn start is not the installation but the development version. Do you mean that this same error is occurring on normal installations? We'll have to investigate the issue, but auto-updater shouldn't break the application, just not update it.

[2018-02-16 14:14] #492 closed

[2018-02-16 14:57] mdesign83 commented on #667
It's not that easy.. it should be supported by electron:
https://github.com/itchio/itch/issues/649

[2018-02-16 15:51] RandyHBH opened #668 "TextBox is missing after Zoom Out the view"
## My Setup
- Operating System: Mac os Sierra 10.12.6
- App Version: 2.10.5

- [X] I have tested with the latest version
- [X] I can simulate the issue easily

## Description

![screen shot 2018-02-16 at 10 38 05 am](https://user-images.githubusercontent.com/14900734/36315959-9ad12c9e-12fe-11e8-8d02-a839faead1db.png)

After press Ctrl + - for Zoom out the view, the Textbox disappears and I can't s

[2018-02-19 16:02] Hupka opened #669 "Custom oauth not working in desktop client"
## My Setup
- Operating System: Windows / MacOS
- App Version: 2.10.5

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

When using the RocketChat+ desktop client I cannot the a custom oauth provider, because the provider's login page is not presented and the javascript console throws `"Uncaught ReferenceError: Meteor is not defined"` in file `prelo

[2018-02-19 17:31] msva commented on #50
@sampaiodiego Can you re-apply the fix again, please? // and add the comment for future developers to DON'T REMOVE THE ANCHORS IN ANY REASON

[2018-02-21 12:06] pohlmarcus commented on #380
Problem still exists in version 2.10.5

[2018-02-21 12:44] himbeere commented on #611
Issue still present with 2.10.5.

[2018-02-21 13:04] jim-mason-dmxio opened #671 "message action menu not shown on hover on windows"
searched current issues and did not see an issue for this on Windows 10 client ..
Issue: message action menu does not appear on message hover ( RC 2.10.5 - Windows 10 )

When message is hovered or selected, the message is "greyed" correctly but no message action menu appears. I can send a new message in the chat ( in edit mode ) fine but can't star an existing message

[2018-02-21 13:53] kiwirot commented on #628
We also would appreciate the feature very much. For the **windows desktop client**, in a channel where the desktop notification is set to **Alerts: All Messages**:

- the notifications work as disired, but
- the icon only blinks for @user mentions (or direct messages)

So it's easy to miss messages from important channels, because the notification just keeps on screen for 5 seconds tops.

[2018-02-25 02:24] linuxgnuru commented on #664
Not 100% if this is at all helpful or if I'm simply not following instructions; as per the README.md:

[code]
OS: 64bit linux
Distribution: ubuntu 16.04
`uname -a: Linux br1ck 4.4.0-116-generic #140-Ubuntu SMP Mon Feb 12 21:23:04 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

[2018-02-26 06:55] motherboard1999 opened #672 "links open empty browser"
## My Setup
- Operating System: macOS 10.13.3
- App Version: 2.10.5

- [ X ] I have tested with the latest version
- [ - ] I can simulate the issue easily

## Description
If I click on a URL inside a chat, the browser opens a empty site.
A few weeks ago all worked perfect, but now it doesn't.

[2018-02-26 16:33] msva opened #673 "Impossibility to leave the fullscreen with jitsi post-message in case if you leave the videocall while fullscreen"
## My Setup
- Operating System: Gentoo 2017 (Applicaton installed from amd64 deb package )
- App Version: 2.10.5

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

![Screenshot](https://i.imgur.com/81WwNVA.png)
Steps to reproduce:
1) Start Video call
2) Click "Full screen" Button
3) Click "leave" button (without exiting fullscreen)
4) You're here. Y

[2018-02-27 11:52] russmack commented on #672
I have the same issue.  It comes and goes with no apparent reason.  Last week my links were opening empty chrome windows, yesterday they were working correctly, today they're back to opening empty windows.

[2018-02-27 15:17] a11anarete opened #674 "reset password url is redirecting to the login page."
### Description:

Password reset URL is going to the login page.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.61.0
* Operating System: CentOS 7
* Deployment Method(snap/docker/tar/etc): RPM
* Number of Running Instances: 1
* DB Replicaset Oplog: Disabled
* Node Version: v8.9.3
* mongoDB Version: 2.6.12

### Steps to Reproduce:

1. When a user clicks on reset password.
2. User

[2018-02-27 15:18] a11anarete commented on #674
Just for information, I was looking at the `app.js` which had this line and thought this was the problem.  I removed the `#/` and restarted the service but still the same error.

...
				Accounts.emailTemplates.resetPassword.html = function (userModel, url) {
					url = url.replace('/#/', '/');
					return html.replace(/\[Forgot_Password_Url]/g, url);
				};
...

[2018-02-27 15:18] a11anarete commented on #674
code block:

https://github.com/RocketChat/Rocket.Chat/blob/develop/server/methods/sendForgotPasswordEmail.js#L14

[2018-02-27 15:18] a11anarete commented on #674
I got around the problem by adding a place holder for the reset password URL.

[code]
The only issue I have with this is this `sha256` part,  I attempted to use the URL with just `https://hostname/reset-password/` but the page hangs.

Can this be changed somehow, without the `/sha256` part?

Allan

[2018-02-27 15:39] a11anarete commented on #674
I think I just found where the `#/` is.

https://github.com/meteor/meteor/blob/devel/packages/accounts-base/url_server.js

Can the `#/` be remove as this seem to be causing the url issue.

[2018-02-27 16:11] AphoticGig commented on #452
I'm in the process of reviewing your app for our organization.  Having the Tray Icon blink when a message arrives is a key feature for our member experience.  leaving the app open on the task bar is not an option for us at this time.   Am I correct that no one is working on this feature or am I missing the setting in preferences?

[2018-02-27 18:49] gdelavald commented on #672
We are investigating the issue to be certain if this is a bugfix needed on our application or if this bug is coming from electron or another third party library.
Thanks for the reports and for your patience.

[2018-02-27 18:50] #674 closed

[2018-02-27 18:50] gdelavald commented on #674
Issue moved to [RocketChat/Rocket.Chat #9923](https://github.com/RocketChat/Rocket.Chat/issues/9923) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-28 14:21] vassyz commented on #672
This seems to happen when Chrome releases a new update. Restarting the browser will install the update and fix this issue. I'm not sure it's related to Rocket.Chat.

[2018-03-01 14:08] Gummikavalier opened #675 "Certificate transparency error with some site previews"
## My Setup
- Operating System: Windows 10
- App Version: 2.10.5

- [ x ] I have tested with the latest version
- [ x ] I can simulate the issue easily

## Description
![cert_error](https://user-images.githubusercontent.com/6958942/36848399-cdc11932-1d69-11e8-9b7a-26c99d08d500.png)

Sites using images hosted at AWS using certificate for *.cloudfront.net trigger error
`ERR_CERTIFICATE_TRANSPARENCY_

[2018-03-01 15:08] ebrahim commented on #50
I hit this bug on Rocket.Chat+ version 2.10.5 on Debian Stretch amd64.

[2018-03-01 17:02] willow9886 commented on #120
Just to provide some quick steps to increase/decrease text size in the desktop app:

to increase: `ctrl` + `shift` + `+`

to decrease: `ctrl` + `-`

[2018-03-01 18:06] er0k opened #676 "Cannot start RocketChat client on debian: failed to map segment from shared object"
## My Setup
- Operating System: Linux Debian
- App Version: 2.10.5

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

### Description:

[code]
I just downloaded and installed 2.10.5, but I get this error when trying to run rocketchat:

[code]
### Steps to Reproduce:

1. run `rocketchat`

### Expected behavior:

rocketchat client should start

### Actual behavior:

[2018-03-02 12:30] engelgabriel opened #677 "Build Error: Inline JavaScript is not enabled."
[code]

[2018-03-05 04:55] Kenya-West commented on #608
Would love to see this.

[2018-03-05 12:19] danila-kovalev opened #678 "Windows client: Unable to download files from channel file list"
## My Setup
- Operating System: win-clients (win8.1x64 and win10)
- App Version: v.2.10.5

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
It is not possible to download files from "files list" of the channel.
This is valid for win-client only
Using web-browser as a client or apple-mobile-app - there are no such problem

### Current Behavior

 1. o

[2018-03-05 16:12] FelipeMiranda commented on #677
I have the same error

[code]

[2018-03-05 16:15] Rumbles opened #679 "Feature request - A quick way to close direct messages"
## My Setup
- Operating System: Fedora
- App Version: 2.10.1

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
If someone sends me a direct message the DM username is left in the menu, I would appreciate an easy way to close the DM.

### Current Behavior
Currently closing a DM involves hovering over the name, clicking the 3 dots, clicking hide the r

[2018-03-05 20:36] gdelavald commented on #677
@engelgabriel @FelipeMiranda could you add reproduction steps please?

[2018-03-06 05:41] hartois opened #680 "Wrong Categories param in .desktop file starting v2.10"
## My Setup
- Operating System: Fedora 26 x86_64
- App Version: 2.10.5

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
Starting 2.10 version x86_64 builds of rpm packages has .desktop file with wrong entry:
Categories=Utility;

In 2.9 correct:
Categories=GNOME;GTK;Network;InstantMessaging

I does not check i686 builds and deb packages.

### Curren

[2018-03-06 18:15] FelipeMiranda commented on #677
@gdelavald i switch brance to master and solved my problem, something was going on with develop branch

[2018-03-06 22:29] criduvero opened #681 "The attached file loses the extension if it is renamed when it is downloaded"
## My Setup
- Operating System: Windows 10 1709 16299.248
- App Version: 2.10.5

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

When downloading an attached file, the File Name input doesn't show the extension, the Type input shows 'All Files', so, if I change the filename, it saves without extension.

Web version hasn't the problem, only Eectron

[2018-03-07 09:25] frdmn opened #682 "Release latest version to Snap Store"
Currently the latest version for `rocketchat-desktop` is 2.7.0:

[code]

[2018-03-08 09:40] itskenny0 opened #683 "Clicking a link to an embedded layout URL breaks display"
## My Setup
- Operating System: Ubuntu 18.04
- App Version: latest

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
Send yourself a message containing a link to a rocketchat channel with embedded layout, e.g.:
https://my.rocketchat.instance/channel/support?layout=embedded
Now click this link within Rocket.Chat.Electron.

### Current Behavior
The em

[2018-03-08 11:23] mrsimpson opened #684 "Is the windows-app signed?"
As per one of our users, he couldn't install the Windows-version since it was not signed. Also, it's not available in the all-time-favorite-best-store windows-store.

Since I'm on Mac I cannot verify that, so leaving it as a simple question: Is the current version of the windows-app signed?

[2018-03-08 17:58] gdelavald commented on #684
@mrsimpson currently we do not sign the Windows Version. However, the plans for signing it and releasing on Windows Store are on our short term plans.

[2018-03-09 19:24] nafis-fuad commented on #677
Encountered the same problem as @engelgabriel. When I switched to the master branch, the prob was solved. Something's really wrong with the develop branch. 😄
Moreover, there were linting problems in the develop branch too.

[2018-03-11 18:25] Kamilko47 commented on #625
Hi. If You still have this problem try this solution. It's working on plasma 5.
http://www.webupd8.org/2017/04/fix-appindicator-not-working-for.html
`env XDG_CURRENT_DESKTOP=Unity rocketchat`

[2018-03-12 07:38] banrieen commented on #258
When start the rocket.chat server on the lan 172.19.5.x/24 ，and I can open the rocket.chat by chrom with http://172.19.5.x:3000,
But when I open the rocket.chat ios app by enter the url string "http://172.19.5.x:3000"  . It prompt: "Oop! The URL you entered is invalid . Check it and try ading,please ！”

[2018-03-12 15:02] rbland commented on #625
So I WAS still having this problem and the specific suggestion did NOT work; however, it put me on the path to a solution which was to set XDG_CURRENT_DESKTOP to "GNOME".

[2018-03-12 15:02] #625 closed

[2018-03-12 17:32] EduardoGrtt opened #686 "Upload image doesn't work"
When you try to upload an image (Desktop App), it does not load the image.
According to Print:
![error](https://user-images.githubusercontent.com/11861926/37299461-25bb450e-2602-11e8-9c63-2d023d57d377.JPG)
Already in the Web version, it works correctly.
Release: 2.10.5

[2018-03-12 17:36] EduardoGrtt commented on #686
![error_2](https://user-images.githubusercontent.com/11861926/37299644-a50c6932-2602-11e8-8b65-87779cf8e203.JPG)
It stays at 0%, and does not load the image.

[2018-03-12 18:23] boblmartens opened #687 "iOS videos do not play"
## My Setup
- Operating System: macOS 10.13.3
- App Version: 2.10.5

- [x ] I have tested with the latest version
- [x ] I can simulate the issue easily

## Description
Video uploaded from iOS device does not play on desktop app or in a desktop browser. The video is loaded up through the Rocket.Chat+ app, and playback works in the iOS app, but it does not work in a desktop browser not the Rocket.C

[2018-03-12 22:17] GPrimola commented on #636
same here. any updates?

[2018-03-12 22:25] thiesschneider opened #688 "Show download status"
Hey there,

I would love to have something like a progressbar for the file I download in the Electron app also.
It would also be nice to open the downloaded file or the folder where the file is stored.

Thanks for this great app... you rock!

[2018-03-13 09:07] bennlich commented on #517
I'm having the same issue. My rocket chat server is running behind an nginx proxy with `ROOT_URL=https://my.domain/chat/`. Images load correctly on the web client. Surprisingly, the urls it uses are like:
[code]
(yes, the double /chat/chat **works**).

Images do not load on the desktop client. It seems to make requests to paths like
[code]
which seem more reasonable to me, but do not work.

This i

[2018-03-13 14:06] G00fY2 opened #689 "Memory consumption too high"
## My Setup
- Operating System: macOS High Sierra 10.13.3
- App Version:  2.10.5

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description & Current Behavior
I have 4 _Rocket.Chat+ Helper_ processes running. 3 with each ~40MB memory consumption and one Helper with ~1GB. Also there is the _Rocket.Chat+_ process with ~70MB memory consumption. So in total runn

[2018-03-14 09:07] bennlich commented on #517
The duplicate path I'm seeing seems related to https://github.com/RocketChat/Rocket.Chat/pull/10029. I'm still stumped about why the duplicate path *works* though, and the non-duplicate path fails.

[2018-03-14 15:13] DCauldy opened #690 "Uploading PSD files not working."
## My Setup
- Operating System: Mac OS 10.13.3
- App Version: 0.62.1

- [x ] I have tested with the latest version
- [ x] I can simulate the issue easily

## Description

I am trying to use the file upload for .psd files to share with our team. I can see that the upload was successful, but it does not put the file within the chat history. I can see the file in the file list within the conversation

[2018-03-15 21:06] gdelavald commented on #687
Thanks for the feedback, we'll look into what is going on, most likely this is an encoder issue or the format is not in the accepted list for the web app.
@boblmartens have you tested this in the web app through a web browser? If this happens to the web as well we should move this issue to the official Rocket.Chat repository.

[2018-03-15 21:07] gdelavald commented on #636
Make sure you guys are using the latest version of the Rocket.Chat app, if this is still a problem, report here with the version and OS you are using.

[2018-03-15 21:09] gdelavald commented on #689
Hey @G00fY2 we know that this is way too much, it is a known issue with Electron based apps that have a problem of being greedy in relation to the user's RAM. We are looking into ways to improve the memory management inside the app.
Thanks.

[2018-03-15 21:51] HappyTobi commented on #677
See pullrequest i fixed the issue, nur it‘s Not merged to dev 😔

https://github.com/RocketChat/Rocket.Chat.Electron/pull/685

[2018-03-16 03:07] boblmartens commented on #687
I just tested it on Safari on macOS 10.3.3 and have the same issue here as in the desktop app on the same device.

[2018-03-17 15:41] samgos commented on #639
gave up

[2018-03-17 15:41] #639 closed

[2018-03-18 17:24] bennlich opened #692 "Server sidebar occasionally renders white w/o buttons"
## My Setup
- Operating System: OS X 10.10.5
- App Version: 2.10.5

- [x] I have tested with the latest version
- [ ] I can simulate the issue easily

## Description
Sporadically, the background color and icons of the sidebar will disappear, leaving only a white rectangle. Sometimes this happens only to the top or bottom half of the sidebar. It usually goes away within a few seconds of clicking ar

[2018-03-19 01:28] TheMythPT commented on #679
Well, hope this helps someone.
on the DM:
[code]
And done!

[2018-03-19 01:29] TheMythPT commented on #679
I know it's a bit harsh, but well.. 🤷‍♂️

[2018-03-19 13:13] canove commented on #463
While the "/startup" flag doesn't exist, there is a option to enable it after instalation?

[2018-03-21 17:10] zaus opened #693 "Notification alert preference for toast popup should also affect taskbar blink"
## My Setup
- Operating System: Win10
- App Version: 2.10.5

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

### Current Behavior

* Chat room / channel preference set to "Mentions only"
* User in chat mentions me
  * Notification popup ("toast") behaves appropriately - does show
  * Taskbar icon (not tray icon) should blink
* Another user types p

[2018-03-21 17:12] zaus commented on #693
Other "blinking" issues? #628 #618

[2018-03-22 11:46] e11bits commented on #172
This feature would be very helpful.

[2018-03-23 13:11] chabbster opened #694 "Sidebar keeps blank in "last activities" mode"
Environment:
Windows 10 Pro Workstations with Rocket.Chat Client Version 2.10.5 installed. Server version 0.60.4

After the last client update, when the user had selected "Sort by Activity" in the Sidebar Channel List Mode setting, no contacts will be listed in the sidebar. When the user enters something in the search field, contacts will appear.
If you change the mode to "Unread Rooms Mode", ever

[2018-03-23 13:16] chabbster commented on #694
![rocket-chat-bug-2-10-5](https://user-images.githubusercontent.com/6264248/37831159-c8ebf962-2ea4-11e8-8206-2827b897a643.png)

[2018-03-23 14:49] gdelavald commented on #694
@chabbster Hey, thanks for the report. This issue was fixed on the web client, will probably be included in the next release, please check your server version and update accordingly.

[2018-03-23 14:49] #694 closed

[2018-03-23 18:55] jeeringsole commented on #668
I am also experiencing this same issue. When zooming in and then zooming back out the text box vanishes.

Mac version High Sierra v 10.13.3

[2018-03-26 14:13] ftoledo opened #695 "More intrusive notifications"
I research if is possible to get more "intrusive" notificacions for the desktop client (at windows OS for now).

    Permanent/Sticky popup notifications.. (just stay visible until user get click)
    Flash icon / on bottom panel/toolbar
    Popup the main window?

Or some else.

The idea is to ensure to user must be notified even if leave and back from the computer for some little time.
thanks!

[2018-03-27 04:26] Yuu94 commented on #678
Is the problem solved?
This problem is solved by modifying the RocketChat server.

[2018-03-27 06:42] xfirf commented on #679
I would like to have a shortcut for this too. Its complicated and not that userfriendly when you have to use the mouse / touchpad to close a direct chat.

[2018-03-27 09:42] Elendev commented on #120
Hello,

What if `ctrl` `shift` `+` doesn't work, is there an other way to do this on the settings ? ^^"

I'm on an Ubuntu 16.04 and the font of the chat app became really really small :-/

[2018-03-27 09:51] Elendev commented on #120
It looks like it's a mapping issue : I'm using a swiss-french keyboard and the `+` is on the `1`. I've tried with the `^` button and it did work well.

[2018-03-28 13:20] XecKiE commented on #625
Howdy,
Me and my coworkers (on Kubuntu) have the exact same issue (truncated icon + left clic not working). The fix that @rbland  worked, but I think it should be fixed deeper (the client seems to be bot working properly on every KDE version).

In addition, I'm forced to launch it from a console which is not very handy.

What do you think ?

[2018-03-29 15:10] XecKiE opened #696 "System Tray Icon Issues in KDE"
Good afternoon,

I have some issues with the system tray icon, that were not fixed by the previous issues #625 and #44 .

## My Setup
- Operating System: Kubuntu 16.04 / Kubuntu 16.10
- App Version: 2.10.5

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
There are two issues :
- The system tray icon is truncated
- The left clic has no effect : in t

[2018-03-30 05:31] HammyHavoc commented on #608
Additional info regarding it: https://github.com/shenchauhan/MyPeople

[2018-03-30 09:03] capecape opened #697 "Installation error"
## My Setup
- Operating System: openSUSE Leap 42.3
- App Version: rocketchat-2.10.5-686.x86_64

- [X] I have tested with the latest version
- [X] I can simulate the issue easily

## Description
Trying to install latest version I am experiencing the following error:
### Current Behavior
`zypper install ./rocketchat-2.10.5.x86_64.rpm `
Loading repository data...
Reading installed packages...
Resolvi

[2018-03-31 08:05] jayprakashsah21 commented on #639
@samgos, How did you solve the above issue? I am getting the same error in mac ios. Could you please help me to resolve the issue?

[2018-04-03 12:30] zookah commented on #678
@Yuu94 What changes should be done on the server side?

[2018-04-03 13:21] obfuscoder commented on #636
I fixed this a few months ago by manually installing a newer version of RocketChat+ - not using the version being packaged within Ubuntu. After changing my domain password, I run into the same issue though. RocketChat+ did not start up any longer. Removing the config folder did not fix the issue.

[2018-04-04 00:11] Yuu94 commented on #678
The cause is in the Html file which displays the list of Rocket.Chat.

 There is an a tag in line 16 of Rocket.Chat-develop/packages/rocketchat-ui-flextab/client/tabs/uploadedFilesList.html .
I think that this problem will be solved by changing the target attribute of a tag from "_blank" to "_self".

[2018-04-04 00:13] Yuu94 commented on #678
@zookah The cause is in the Html file which displays the list of Rocket.Chat Server.

There is an a tag in line 16 of Rocket.Chat-develop/packages/rocketchat-ui-flextab/client/tabs/uploadedFilesList.html.

I think that this problem will be solved by changing the target attribute of a tag from "_blank" to "_self".

[2018-04-04 08:30] idl0r commented on #169
Any news on this issue?

[2018-04-04 11:33] bittner commented on #682
Fun fact: The [Snapcraft community](https://rocket.ubuntu.com/channel/snapcraft) seems to use RocketChat for communication. Maybe they want to help maintaining the snap.

See also: [Auto-build and publish software
for any Linux system or device](https://build.snapcraft.io/)

[2018-04-04 12:26] bittner opened #698 "Installing .deb Package on Ubuntu shows "Proprietary" license"
## My Setup
- Operating System: GNU/Linux, Ubuntu 17.10
- App Version: 2.10.5 AMD64 (latest from Website)

### Verification

- [x] I have tested with the latest version
- [x] I can reproduce the issue easily

## Description
1. Download the .deb package from the [Rocket.Chat website](https://rocket.chat/download)
1. Locate the downloaded file using Ubuntu's file manager, and double-click on it to o

[2018-04-04 14:30] zookah commented on #678
@Yuu94 Thank you!

[2018-04-05 12:31] icereed commented on #669
+1 same for me

[2018-04-05 14:46] marceloschmidt opened #699 "Detach conversations into separate Windows"
@subesokun commented on [Wed Sep 02 2015](https://github.com/RocketChat/Rocket.Chat/issues/660)

It'd be awesome if there would be a way to detach group and private conversations into an extra Browser Tab/Window. This might not sound very useful for the Browser version of Rocket.Chat but it would be an awesome feature for the Electron desktop application. Once the Rocket.Chat core is capable of op

[2018-04-05 18:35] drweb86-work opened #700 "PDF file transferring corruption"
## My Setup
- Operating System: Windows 10x64
- App Version: 2.10.5

- [ ] I have tested with the latest version
- [ ] I can simulate the issue easily

## Description
1. Take PDF file.
2. Press on contact
3. Drag and Drop file to Contract
4. Send

### Current Behavior
 After loading of file on other client it is
a. Locked
b. Contains invalid data.

### Expected Behavior
File should not be locked a

[2018-04-05 18:42] drweb86-work opened #701 "Could you please distribute version through Windows Store for Windows"
Its just an idea.

Windows Store will handle application updates.

[2018-04-05 18:47] drweb86-work opened #702 "Could you please use Windows Notifications API for notifications about messages"
This API can be easily configured by user and all messages of certain types can be easily disabled

[2018-04-05 20:29] gdelavald commented on #702
This would require a refactor on our notifications, it's doable, might be in the roadmap when we focus on the Windows Store features. Thanks for your suggestion!

[2018-04-05 20:30] gdelavald commented on #701
Hey, this is something we have planned in our roadmap but were not able to do yet.

[2018-04-06 14:57] cmrd-senya commented on #221
I created a PR for this feature  #10366, but I need some feedback from more experience contributors in order to complete it.

[2018-04-08 08:08] GoetheG commented on #684
Very good, looking forward to signing!

[2018-04-08 08:09] GoetheG commented on #681
When I see all the open source software it gets me thinking why some of those companies do not work together. For example Nextcloud and Rocket.Chat. It diesn’t have to be Nextcloud, that is just an example. ownCloud is fine by me. And also Rocket.Chat.

[2018-04-08 08:11] GoetheG commented on #678
When I see all the problems with files and open source software in general it gets me thinking why some of those companies do not work together. For example Nextcloud and Rocket.Chat. It diesn’t have to be Nextcloud, that is just an example. ownCloud is fine by me. And also Rocket.Chat. Also Open-XChange and Kopano.

[2018-04-08 08:11] GoetheG commented on #701
It would be a great idea. Maybe with the version 1.0?

[2018-04-09 08:18] mindmazeCH opened #703 "Add account status in the tray icon"
## Description

New feature to add into the client icon tray my current status, e.g. Online, Away, Busy, Invisible and Offline.

Now, when you are using the client application, no matter which OS, the tray icon never change the color or shape, except when a notification arrives.

Would be possible to add a new feature to the client application to show the current status, like for example is happen

[2018-04-09 10:29] danila-kovalev commented on #678
Right now the problem still exists. I do not have enough tech. expertise to assess fix propose by Yuu94, but seem to be this is a proper direction. This problem is not so critical to experiment with self-made manual modification (risking it will be fixed in the other way), so I shall wait for the fix bundled in server or client or both.

[2018-04-09 11:23] drweb86-work opened #704 "Sign Windows Setup with Certificate"
Could you please also sign Windows Setup with certificate so there would be no security warnings.

[2018-04-09 11:38] drweb86-work opened #705 "Order Contacts in Direct Messages Group by Last Message Date"
In a company i have huge amount of contacts with whom im contacting rarely.

Could you please make by default order of Direct Messages by Last Message date? So whenever i open chat i will see without scrolling who wrote me and people with whom i talked recently.

Could you please also add fuzzy string search for contact names on the right of Direct Messages which will search for contact names and

[2018-04-09 11:43] drweb86-work opened #706 "Please auto install spell check for English and User PC locale language upon installation/running"
Please auto install spell check for English and User PC locale language upon installation/running

[2018-04-09 14:16] gdelavald commented on #705
@drweb86-work you can order the contacts list by Last Message through the UI. These kind of suggestions are more suited for the Rocket.Chat main [repository](https://github.com/RocketChat/Rocket.Chat). Make sure to search for similar suggestions before posting it in that repo.

[2018-04-09 14:16] #705 closed

[2018-04-10 12:31] fbartels commented on #678
@GoetheG this ticket is afaik not really about file support in Rocket Chat, but more about a bug in the rocket chat client that does not properly download files.

But since you mentioned Kopano: we at Kopano recently joined the document foundation advisory board in an effort to bring easy document viewing and editing to users (based on LibreOffice Online). See https://kopano.com/news-and-press-rel

[2018-04-11 06:26] chrootLogin commented on #380
I also have this problem in 2.10.5

[2018-04-11 11:13] samgos commented on #639
@jayprakashsah21 from what I know it's a chromium web error, unfortunately, I didn't peruse the project any further due to some circumstances. From what I remember it was because of text selection/highlighting that caused it to crash.

Try this -> https://bugs.chromium.org/p/chromium/issues/detail?id=641509

Sorry I can't be any more help.

[2018-04-11 17:18] theorenck opened #707 "[BUG] notification indicator should not signal when group messages are unread"
@bizzbyster commented on [Wed Mar 21 2018](https://github.com/RocketChat/Rocket.Chat/issues/10188)

On every other chat application I use, I only see this type of "unread messages" indicator...

![image](https://user-images.githubusercontent.com/4001792/37729572-b98b200c-2d13-11e8-9a64-fd6480609507.png)

When either I have a message in a 1-on-1 chat or if someone does "@myusername" in group chat.

[2018-04-11 17:28] gdelavald commented on #707
@bizzbyster you can always go for the room you want muted and check (or uncheck) the notifications options.
We are working on improving the notifications, but this case is more related to your configurations than the actual functionality (as users expect to be notified when they got new messages on channels)

[2018-04-16 15:01] saroff commented on #240
Any news on this?

[2018-04-17 13:49] h-kaiser commented on #564
Same bug on MacOS 10.13.4

[2018-04-17 14:33] jorgecoca commented on #669
Experiencing the same issue.

[2018-04-18 11:32] alfredbez commented on #522
I get no notifactions at all.

RC-Server Version: 0.59.3
Client-Version: 2.10.5
My OS: Ubuntu 16.04

The Button "Test Desktop Notifications" does nothing...

[2018-04-19 09:08] martinvonwittich commented on #163
Any progress on this? Having to update the client manually is pretty annoying.

[2018-04-19 15:28] dkoryavov commented on #517
It seems the bug has been fixed in Rocket.Chat 0.63.3, I can see all images. Thus, I close the bug.

[2018-04-19 15:28] #517 closed

[2018-04-20 12:01] drweb86-work opened #708 "[Windows] Show Progress Upon Saving File. Allow to Open Explorer pointed to Downloaded File"
Hello

Could you please consider adding the following to Electron client for Windows
1. Please show progress to see when file got downloaded.
2. Please add context menu to downloaded file - so i can open it in Explorer.

Thank you.

[2018-04-20 12:17] aslend opened #709 "Backspace can not erase the last one character during Japanese IME conversion (macOS)"
## My Setup
- MacOS Siera
- 2.10.5

- [x] I have tested with the latest version
- [ ] I can simulate the issue easily

## Description

Backspace can not erase the last one character during Japanese IME conversion (macOS)

[Same Issue] https://github.com/electron/electron/issues/9173#issuecomment-303219349
### Current Behavior

![image](https://user-images.githubusercontent.com/7589870/39049844-0d8

[2018-04-20 12:48] criduvero commented on #708
"Open downloaded file" and "Open container folder"

[2018-04-20 20:28] EddEdw commented on #669
Hey @icereed and @jorgecoca, what is your setup? Are you also working behind a corporate (non-transparent) proxy?

[2018-04-20 20:29] jorgecoca commented on #669
Yep, that is exactly the issue

[2018-04-20 20:44] EddEdw commented on #669
Okay, I reposted this issue on Rocket.Chat server because I think the issue sits in the Meteor interface provided by the server. Let's see if this gets more attention on the main project. This really sucks...

[2018-04-20 20:51] icereed commented on #669
Yep, http proxy. Thanks for your action.

[2018-04-23 10:50] drweb86-work commented on #708
**Open downloaded file** and **Open container folder** both are missing. See screenshot below
![image](https://user-images.githubusercontent.com/29063147/39122327-401938a4-46fd-11e8-8c85-971a621a08af.png)

[2018-04-24 08:02] drweb86-work opened #711 "Windows: Upon Clickink on Link in Chat Nothing Happens"
Hello

Could you please make Electron to open windows browser with link upon clicking on it?

Thank you.

[2018-04-24 08:06] drweb86-work commented on #708
Probably a better way is to replace button Download with Downloading button and once it completed to show those 2 buttons: **Open downloaded file** and **Open container folder**

[2018-04-24 09:29] kayahr commented on #452
I made a very simple change to implement a blinking tray icon:

https://github.com/RocketChat/Rocket.Chat.Electron/compare/develop...iplabs:feature/blinking-tray-icon

When an alert tray icon is to be displayed then it blinks (Toggling between normal tray icon and the requested alert tray icon every 500ms). When a non-alert tray icon (normal or unread) is displayed then it does not blink.

Works p

[2018-04-24 10:03] RAPPER23 opened #712 "RocketChat starts in the system control but no window appears"
## My Setup
- Operating System: Windows10 Home
- App Version: 2.10.5

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

### Current Behavior

No showing window or system tray, Program starts, but not showing up.
### Expected Behavior

Correct registry entry during registration?

[2018-04-24 12:10] criduvero commented on #708
File can be moved, renamed or removed after download. I say it from my experience. In my job, people do it constantly

[2018-04-24 17:45] drweb86-work commented on #708
Well. in this case an error can be shown upon any click on those buttons

[2018-04-25 13:42] drweb86-work opened #713 "[Windows] Please Add Ability to Change Background, Font Weight, Size for People List and Messages Windows"
Hello

Could you please
- add ability to increase font size and make it bold for contacts list.
- add ability to increase font size for messages panel.
- add ability to set custom background for contacts list (white) and messages window (white or some image).
(as an alternative - probably create some themes, e.g. night and day theme and offer person to select it after installation or in my-profile

[2018-04-25 13:57] gdelavald commented on #713
Hey @drweb86-work I'll move this to the main repository since this request would be best suited for the Web app.

[2018-04-25 13:57] #713 closed

[2018-04-25 13:57] gdelavald commented on #713
Issue moved to [RocketChat/Rocket.Chat #10582](https://github.com/RocketChat/Rocket.Chat/issues/10582) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-26 07:51] henk23 opened #714 "Jitsi controls not reachable"
## My Setup
- Operating System: macOS High Sierra 10.13.4
- App Version: 2.10.5

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
<img width="446" alt="sidebar" src="https://user-images.githubusercontent.com/10068060/39292556-cee1f82e-4936-11e8-83da-bc49e5ef1854.png">
<img width="1680" alt="fullscreen" src="https://user-images.githubusercontent.com/

[2018-04-26 18:47] TheAssassin commented on #163
I'd like to see an AppImage, too. AppImage provides an easy-to-use update mechanism with support for GitHub releases. You just add so-called update information to your AppImage, which points to your GitHub release page. Then, you just upload the AppImage to your release page. AppImageUpdate (the updater app) will then just check for new releases on the release page, and update to the latest releas

[2018-04-27 04:38] hartois opened #715 "Source rpm"
Can you provide src.rpm file?

[2018-05-01 22:34] btorellALTA commented on #194
Does anybody know what the status of this issue is? It would definitely be nice if the app would mark users as Away when they lock their computers instead of having to close the app or log off.

[2018-05-02 21:12] Datseris commented on #678
Problem still exists (Windows 10)

[2018-05-02 21:19] zookah commented on #678
Same here (macOS and Manjaro Linux): Rocket.chat+ version 2.10.5

[2018-05-04 08:46] Seuchenatter commented on #712
Iam not sure but maybe this can help #623

[2018-05-04 12:43] Xarkam opened #716 "New option for open link with browser"
Hello,

following a remark from my wife, would it be possible to add a function to configure the browser to use to open the links?

In his company, IE11 is defined as the default browser (under win7) and can not be modified.

Thanks.

[2018-05-07 15:39] rafaelcarrillo-prodigia commented on #689
The server uses a lot of RAM after a couple days active without user load.

I did a "top" to check who was using ~10GB RAM and it was a mongod process called by the rocketchat-server PID .  The Swap memory was full too.

[2018-05-08 20:59] canove commented on #522
Same here!

RC-Server Version: 0.59.3
Client-Version: 2.10.5
My OS: Windows 7, Windwos 10.

[2018-05-09 14:43] ericjee commented on #522
same issue.
RC-Server Version: 0.64.1
Client-Version: 2.10.5
My OS: macOS 10.13.4

[2018-05-11 20:10] blaisep opened #717 "Can't access the `/account/profile` page"
several colleagues have also reported no response when we click on the Profile link to get to: https://chat.hyperledger.org/account/profile

## My Setup
- Operating System:
OS X 10.13.4
- App Version:
2.15.5

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

![image](https://user-images.githubusercontent.com/254456/39944720-8b3b0c90-551c-11e8-86fc-4

[2018-05-11 20:29] danintel commented on #717
I also cannot access My Account-->Profile. It appears as a blank page.
When I go directly to https://chat.hyperledger.org/account/profile
I get this Chrome Console output:

Exception from Tracker recompute function: undefined
e292dcafc5e4feb42c0c7067b0eeb04accaf0295.js?meteor_js_resource=true:1 TypeError: Cannot read property 'address' of undefined
    at f.TemplateInstance.<anonymous> (https://ch

[2018-05-11 20:33] gdelavald commented on #717
Hey guys, thanks for the report. I'll be moving this issue to the main repo as this seems like a problem with the actual web app.

[2018-05-11 20:33] #717 closed

[2018-05-11 20:33] gdelavald commented on #717
Issue moved to [RocketChat/Rocket.Chat #10745](https://github.com/RocketChat/Rocket.Chat/issues/10745) via [**ZenHub**](https://www.zenhub.com/)

[2018-05-11 20:34] blaisep commented on #717
thanks @gdelavald !

[2018-05-13 20:07] 0x00rick opened #718 "Rocket.Chat Desktop app uses an executable stack in Version 2.10.5"
## My Setup
- Operating System: Ubuntu 18.04 XFCE
- App Version: Version 2.10.5

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

The prebuilt packages for Linux (deb/rpm) contain a version of Rocket.Chat that marks the stack as Read,Write,eXecute for each Rocket.Chat process.

### Reproduction:
Binary installed e.g. via latest provided .deb packag

[2018-05-14 13:49] blue928 opened #719 "MacOS client sending out random video conference requests"
We setup a private channel for a client for communication.  She has latest version of rocket chat client and MacOSX as of the time of this writing. The RC client was loaded in from the desktop version of the AppStore.

When the user is away from her computer and the computer is in Sleep mode, her channel sends out random video conference requests.

I've had her uninstall and reinstall the RC Clien

[2018-05-14 14:14] hugoeustaquio commented on #140
Guys, what are the parameter that makes it start on system tray?
I'm using linux, and rocketchat doesn't have an 'man' neither it responds to '$ rocketchat --help'.

Thanks.

[2018-05-14 17:01] punkr0ck opened #720 "[Exploit] Is Rocket.Chat affected by this exploit?"
As RocketChat is using Electron, you might want to take a look at this and evaluate if there's any risk for your users.

- https://twitter.com/ortegaalfredo/status/995017143002509313
- https://github.com/signalapp/Signal-Desktop/issues/1635

[2018-05-14 17:19] kaiiiiiiiii commented on #720
CVE:
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-1000136

Vulnerability Fix:
https://www.electronjs.org/blog/webview-fix

This only effects Electron versions smaller than 1.7.13, 1.8.4 or 2.0.0-beta.5. I’m not quite sure which version the RC Electron app is using, but I’ll figure out 👌

[2018-05-14 17:23] lukas116gse opened #721 "WinClient is detected as a trojan"
After the installation and restart the virus scanner recognizes the client of Rocketchat as a Trojan.

![grafik](https://user-images.githubusercontent.com/39271858/40012779-007a4214-57ac-11e8-9edb-f50ee0c7fe8d.png)

The computer is administered by companies, so I can not put the client on the whitelist
Kaspersky: 10.3.0.6294
Windows: W10 Version 1709 (Build 16299.371)

[2018-05-14 22:13] graywolf336 commented on #720
Easy way to find out: https://github.com/RocketChat/Rocket.Chat.Electron/blame/develop/package.json#L102

[2018-05-15 05:58] ispryt opened #722 "Lost channels in the left sidebar"
Please see the bug on video: http://dropmefiles.com/Pv07t
This bug i see on Windows 10 and Windows 7
Desktop version app: Version 2.10.5

Linux rc 4.9.0-6-amd64 #1 SMP Debian 4.9.88-1 (2018-04-29) x86_64 GNU/Linux
| SERVER RUNNING |
+-------------------------------------------+
| |
| Rocket.Chat Version: 0.64.1 |
| NodeJS Version: 8.9.3 - x64 |
| Platform: linux |
| Process Port: 3000 |
| Site URL

[2018-05-15 06:56] TheReal1604 commented on #720
@graywolf336 so this means the electron client 2.10.5 is not affected? Because it uses the ^2.0.0? - so up to beta5?

Thanks for clarification. Maybe this is worth a blog post on rocket.chat/blog .. @Sing-Li

[2018-05-15 11:35] EwgB opened #723 "Message box out of bounds"
## My Setup
- Operating System: Windows 10 Professional
- App Version: 2.10.5

- [x ] I have tested with the latest version
- [x ] I can simulate the issue easily

## Description
The message box (and some other UI elements) are always out of bounds.

![Schreenshot](https://user-images.githubusercontent.com/853635/40054088-e8d9e8d8-5843-11e8-8d4d-8d3210affacb.PNG)

The behavior is consistent and re

[2018-05-15 14:27] gdelavald commented on #722
Hey @ispryt, thanks for your report. I'll move this issue to the main repository as this seems like an issue with the web app.

[2018-05-15 14:27] #722 closed

[2018-05-15 14:27] gdelavald commented on #722
Issue moved to [RocketChat/Rocket.Chat #10774](https://github.com/RocketChat/Rocket.Chat/issues/10774) via [**ZenHub**](https://www.zenhub.com/)

[2018-05-15 14:30] gdelavald commented on #723
@EwgB thank you for your report.
I'll be closing the issue in favour of #564. Please continue any discussion on the other issue.

[2018-05-15 14:30] #723 closed

[2018-05-15 14:31] gdelavald commented on #668
Thanks for the report guys, we'll be looking at a fix for this issue in the next version.
I'll be closing the issue in favour of #564. Please continue any discussion on the other issue.

[2018-05-15 14:31] #668 closed

[2018-05-16 06:39] Sing-Li commented on #720
Awesome.    @gdelavald   Please let us (@isabellarussell  and I)  know when the hotfix is in place and we can make the announcement(s).

Thanks @punkr0ck and @kaiiiiiiiii for bringing this to our attention!

[2018-05-16 11:03] CrimsonAndrew opened #724 "Ukrainian translation"
Long story short. Ukrainian translation is very bad. I need xsl file with English-Russian-Ukrainian to correct these mistakes. I have HUGE experience in app translating so pretty sure that can deal with it. And yes, I didn't know that mobile and desktop versions are separated so at first bothered guys from mobile version.

[2018-05-16 11:29] kaiiiiiiiii commented on #724
Hi @CrimsonAndrew,

please have a look at the Rocket.Chat LingoHub project to contribute:
https://github.com/RocketChat/Rocket.Chat#translations

[2018-05-16 11:47] CrimsonAndrew commented on #724
I see only

Oops! Something went wrong here.
global.server_errors.illegal_argument

--
С наилучшими пожеланиями,
Евгений

[2018-05-16 15:20] rzelnik opened #725 "It is not possible to leave a group or a channel with Slovak language"
## My Setup
- Operating System: Ubuntu (Linux) 18.04
- App Version:  2.10.5

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

When the localization is switched to Slovak language, it is impossible to leave a channel or a private group. When I go to the left sidebar -> channel  -> left click to the contextual menu -> Leave room, nothing happens. Whe

[2018-05-17 02:04] sum01 opened #726 "[Linux] Build fails with Nodejs >= v10"
Building from source using [this PKGBUILD](https://aur.archlinux.org/packages/rocketchat-desktop) on Arch Linux no longer works.

## My Setup
- Operating System: Arch Linux
- App Version: 2.10.5
I also tried modifying the PKGBUILD to build on 50922b10bfa5daafc48e9ed0ddba63859c256dd9 but the same error occurs.

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## De

[2018-05-18 14:32] lukas116gse commented on #721
Is there any solution?

[2018-05-18 22:45] noloader opened #728 "Windows 10 ver 1803 and Rocket.Chat+ 2.10.5.628 incompatible"
### Description:

Windows 10 ver 1803 and Rocket.Chat+ 2.10.5.628 are reported as incompatible. The program does not finish launching and does not show its main screen.

### Server Setup Information:

* Version of Rocket.Chat Server:
  - Unknown at the moment.

* Operating System:
  - Windows 10 Pro x64 version 1803 (OS Build 17134.48)

* Deployment Method(snap/docker/tar/etc):
    - Downloaded Wi

[2018-05-20 21:16] abugandar opened #1155 "Add Download progress bar"
Where it can be seen the download progress bar?
if i am downloading multi-files how i can check if the download tasks all finished
and how i can resume or cancel download tasks ?

You need to add  Downloads Manager with thus options :+1:
1-Download progress bar  (client)
2-Resume / Pause /Cancel option (client/Server)
3-History downloaded Files (client/Server)

[2018-05-22 06:08] manuelmsoria opened #730 "Windows client stop working. App can't be opened"
## My Setup
- Operating System: Microsoft Windows 10 Home. Versión 10.0.17134 compilation 17134

- App Version: 2.10.5

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
If I try to start app it tries to show main window but it's closed inmediately. If I try to open it in console it shows an error:

     at process.<anonymous> (C:\Program > Files\roc

[2018-05-22 06:09] Maqsyo opened #731 "Online-Status changes on mouse move"
## My Setup
- Operating System: Windows 10 + Mac OS
- App Version: 2.10.5

- [x] I have tested with the latest version
- [] I can simulate the issue easily -> we can't bring the bug to work on a different system with different or the same accounts

## Description

![image](https://user-images.githubusercontent.com/19644698/40344910-427ce2ac-5d97-11e8-8c8c-fab795ad7242.png)
![image](https://user-im

[2018-05-22 12:07] drweb86-work opened #732 "[Windows] Add Multiple Files Drag'nd'Drop Support from Explorer"
Hello

Could you please add support for dropping multiple files from Windows Explorer to Electron Chat. It could be more convinient to transfer documents.

Thank you.

[2018-05-22 12:21] drweb86-work opened #733 "Consider using TinyMCE and send html instead of wiki markup in messages"
Hello

Could you please consider using HTML instead of wiki markup upon chat writing. And consider using one of the good html editors for writing messages - TinyMCE.
https://www.tinymce.com/

I doubt anyone want to know that special characters to easily format text. And there're already good editors on the market such as this tool.

[2018-05-22 20:09] sum01 commented on #726
So it seems that something with Nodejs v10 (or v9?) is causing issues. This builds correctly by using `nodejs-lts-carbon`, which provides nodejs v8.11.2.

[2018-05-23 09:26] Maqsyo opened #734 "Toggle Menu Bar"
## My Setup
- Operating System: Windows
- App Version: 2.10.5

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

It is not possible to toggle the menu bar if it is hidden
The shortcut [Alt] + [V] isn't working
I think it isn't an electron-bug, because in Atom this shortcut works

### Current Behavior

The menu-bar is hidden for ever :(

### Expected

[2018-05-23 09:37] Maqsyo commented on #731
A reinstall doesn't help.
The only thing that helped was:
- uninstalling rocketchat
- delete all files in C:\Users\username\AppData that are found with "Rocket"

I think that isn't a good fix for this bug

[2018-05-23 09:39] Maqsyo commented on #733
i think this should be a feature-request for https://github.com/RocketChat/Rocket.Chat, because this isn't a feature for the app

[2018-05-23 12:22] drweb86-work commented on #733
Thanks. I created an issue there.

[2018-05-23 12:22] #733 closed

[2018-05-23 12:53] smnbbrv opened #735 "macOS High Sierra energy consumption too high #10854"
## My Setup
- Operating System: macOS High Sierra
- App Version: 2.10.5

- [x] I have tested with the latest version
- [ ] I can simulate the issue easily

## Description

### Current Behavior

See https://github.com/RocketChat/Rocket.Chat/issues/10854#issuecomment-391274158

### Expected Behavior

Should not consume that much

[2018-05-24 08:50] Maqsyo commented on #731
In our configuration we had setted the Idle Time Limit to 300 seconds
Now with the update of the server it had the value "0.3 ms"
So we changed it to 300000 ms and now this bug is gone.

We dont know what the problem was exactly, but it is gone...

[2018-05-24 08:50] #731 closed

[2018-05-24 16:46] criduvero commented on #681
Fixed on 0.64.2 server version. At least it shows the file extension when downloading:
![image](https://user-images.githubusercontent.com/13077575/40499599-0c00b688-5f48-11e8-9945-f651c384478f.png)

[2018-05-24 16:46] #681 closed

[2018-05-29 13:21] ezef opened #737 "the app logout the user sometimes"
hi all!
we have 50 pcs running electron over windows 7 / Windows 10. the user doesnt know the password of his account, so we in IT departament need to log in all the pcs manually by user/pass througt VNC connection.

the problem is that sometimes electron app log out the user and prompt to input user/pass again. it seems randomly because its always a different machine or 2 and it seems not to be r

[2018-05-29 20:11] emk888 commented on #380
This is still an issue. Pls fix.

[2018-05-31 08:06] cg666 opened #738 "Add an option to hide disconnected users and sort by name (ignoring case)"
## My Setup
- Operating System: Linux 4.16.0-1-amd64 #1 SMP Debian 4.16.5-1 (2018-04-29) x86_64 GNU/Linux

- App Version:2.10.5

- [X] I have tested with the latest version
- [X] I can simulate the issue easily

## Description

I have a lot of discussion with my collegues and it would be great if disconnected user can be hidden and user sort by name by ignoring case.

### Current Behavior

Disconn

[2018-05-31 11:33] drweb86-work commented on #738
As for me its better to show them right after connected users.

[2018-05-31 13:53] tammon opened #739 "Livechat room is not removed from list when db entry have been deleted"
## My Setup
- Operating System: macOS 10.13.4
- App Version: 2.10.5
- Server Version: 0.65.1

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
Livechat rooms that have been cached in the desktop app are not being invalidated when db entries for this LiveChat session is removed. The room keeps popping up in the open LiveChat view of the desktop app w

[2018-06-03 16:32] rex4539 opened #740 "The app is using high CPU while idle"
## My Setup
- Operating System: macOS 10.13.6 (17G31f)
- App Version: 2.10.5

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
The app is using high CPU while idle.

### Current Behavior
High CPU usage while idle.

### Expected Behavior
Minimal CPU while idle.

[2018-06-04 07:37] Manyaka commented on #50
I have this bug on 2.10.5 rocket chat desktop, linux mint 18, this bug very annoing, please, fix it

[2018-06-04 09:30] erpel commented on #720
Thanks for taking the time to investigate if the client is affected by this bug. "The next couple of days" is turning into three weeks soon. Can somebody provide an update on this front please?

[2018-06-04 14:31] gdelavald commented on #720
@erpel due to some other fixes underway we had a bit of work to do before releasing a new version, it should be rolled out this week. Thanks for your patience.

[2018-06-06 15:05] MLefebvreICO commented on #679
I want this too. Tired of having multiple conversations pilling up that I have do manually clean via the `...` which takes time.

If you could have an `X` next to the avatar of the user, to close (without confirmation), it would be nice

[2018-06-07 06:40] snipem commented on #740
![image](https://user-images.githubusercontent.com/985581/41082360-5312a608-6a2e-11e8-91a6-472f9e8ffffd.png)

Same for me. RocketChat and RocketChat Helper are almost constantly idling at ~8% of CPU usage.

[2018-06-07 06:49] rderimay commented on #740
Same here. Mac OS 10.13.1, Rocket Chat Helper is running at 7-8% all-time.

![capture 2018-06-07 a 08 48 23](https://user-images.githubusercontent.com/12871929/41082748-9e38ae9c-6a2f-11e8-9a1b-327c85459190.png)

[2018-06-07 22:06] HammyHavoc opened #741 "No Sets on Windows 10"
Almost every program I use supports Sets, it's really irritating to not have that on RocketChat.

This was moved here as per https://github.com/RocketChat/Rocket.Chat/issues/11047#issuecomment-395576834

[2018-06-08 08:24] perchibald opened #743 "Black screen!!!"
- Operating System: Windows 2008 R2
- App Version: 2.10.5

- [ yes ] I have tested with the latest version
- [ yes ] I can simulate the issue easily

## Description

Very often when you open the browser (chrome or firefox)

### Current Behavior

Black screen!!!

![error_rocket_chat](https://user-images.githubusercontent.com/847633/41147149-0c99a1a8-6b1f-11e8-989f-1594c02f64c8.png)

### Expected Be

[2018-06-08 09:17] perchibald commented on #724
I also did not find

[2018-06-08 10:00] drweb86-work commented on #743
This happens to Chrome itself. Issue is linked sometimes with a) old video card drivers b) automatic video drivers installation.

Solution is to install latest drivers if you dont have Windows 10, reboot PC

[2018-06-08 10:36] drweb86-work commented on #743
Check how Chrome works. If it fails, then its a chromium or vmware issue

[2018-06-09 03:42] perchibald commented on #743
This is a terminal server, there is no GPU acceleration.
Is it possible to do both in slack.exe --disable-gpu ??

[2018-06-10 18:33] #535 closed

[2018-06-11 04:04] noobbbbb opened #744 "The server icon seems to increase."
## My Setup
- Operating System: Windows10 Pro
- App Version: 2.11.0

- [x]  I have tested with the latest version
- [x]  I can simulate the issue easily

## Description

The server icon seems to increase.
When you hover over the mouse it returns to the original, but when the cursor is removed, it returns to the increased state.
![rc_app_bug](https://user-images.githubusercontent.com/37917355/41212

[2018-06-11 04:41] 0x6c opened #745 "Searchbox selfcloses/not works"
## My Setup
- Operating System: Mac OS 10.13.4
- App Version:  2.11.0

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

When trying to search someone with CMD+K or by direct click on search icon - search field doesn't performs any actions and there is no requests to server(checked nginx logs and tcpdump).

### Current Behavior

Instead of searching

[2018-06-11 04:42] 0x6c commented on #745
And yes, same was with previous version of client.
Tried to delete client data(~Library/../chat.rocket)

[2018-06-11 05:52] MFietze opened #746 "Server Icons are duplicated in sidebar"
## My Setup
- Operating System: Windows 10 Version 1703
- App Version: 2.11.0

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

Since I updated to 2.11.0 the sidebar shows the server icons multiple times (see screenshot). When I hover my mouse pointer over the icons, the additional icons disappear till I move the mouse back. The issue remains even

[2018-06-11 06:12] 0x6c commented on #745
After some debugging I found that Search page closes when it starts to search on serve(not locally cached records). Debugging further, but can't find the exact wss connection to perform some dump.
Any advice?

Thanks.

[2018-06-11 07:12] kaiiiiiiiii commented on #746
Duplicate of #744

[2018-06-11 08:32] alfredbez opened #747 "Update check does not work"
## My Setup
- Ubuntu 18.04
- App Version: 2.11.0

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
![peek 2018-06-11 10-31](https://user-images.githubusercontent.com/1001186/41220743-9b84ac2e-6d62-11e8-83fb-bf1e5b81d06b.gif)
1. Open Rocket.Chat client via terminal (`$ rocketchat`)
1. Open "About" window (in Menu "Rocket.Chat+" > "About Rocket.Chat+"

[2018-06-11 10:56] arteislt commented on #240
Hi guys! I've installed 2.11 and as I can see, screensharing still doesn't work. How's the roadmap for this feature?

[2018-06-11 12:31] drweb86-work commented on #743
VMWare also has settings about GPU acceleration. So its worth to play with it.

[2018-06-11 13:50] marziopulcini commented on #744
Hi, same issue here. The issue has been introduced with this client version. I had no issue with older versions.

[2018-06-11 14:15] erpel commented on #720
Thanks for releasing the 2.11.0 with updated electron. I guess this issue is completed then.

[2018-06-11 15:06] bigornoo commented on #744
Hi, same issue : Windows 10 and last rocket chat client (2.11.0).

[2018-06-11 17:23] sum01 commented on #726
Fixed in v2.11.0

[2018-06-11 17:23] #726 closed

[2018-06-12 03:54] engelgabriel commented on #744
Seems to be a problem with the Electron build, and only happens on Windows. We will investigate tomorrow.

[2018-06-12 03:56] engelgabriel commented on #745
Do you see any errors on the console when you enable dev debug tools? Can you share the logs?

[2018-06-12 03:59] engelgabriel commented on #746
Duplicate of #744 indeed

[2018-06-12 03:59] #746 closed

[2018-06-12 04:00] 0x6c commented on #745
Not really, there is no errors in relation to connection or any JS.
I using dev build now and watching for an event, but unfortunately I can't even repeat the problem with it :( Will observe and let you know further.

[2018-06-12 04:03] engelgabriel commented on #745
What is the version of the server?

[2018-06-12 04:09] 0x6c commented on #745
![image](https://user-images.githubusercontent.com/19513737/41269716-7d22db72-6e0f-11e8-84b1-074d30083e53.png)

[2018-06-13 05:57] perchibald commented on #743
ok

[2018-06-13 05:57] #743 closed

[2018-06-13 11:36] ezef commented on #737
thanks! @johnyb0y , i will try it!

[2018-06-13 11:39] 0x6c commented on #745
Will try.
Huge amount of users requires to be careful with updates.
Anyway, after digging in debug for 2 days, I didn't found anything related to that issues, so I assume it's absolutely related to our setup.

[2018-06-13 11:39] #745 closed

[2018-06-13 12:05] johnyb0y commented on #737
@ezef No problem. It’s important that the new value will probably only be valid after the next login.

[2018-06-13 12:22] mfa777 commented on #744
After I tested on Windows 7, this issued didn't occur. Maybe only windows 10 is affected.

[2018-06-13 17:22] bettaa opened #748 "Corrupted artwork on server selection pane"
## My Setup
- Operating System: Windows 10 (OS build 15063.1088)
- App Version: 2.11.0

- [ X] I have tested with the latest version
- [X ] I can simulate the issue easily

## Description

I have a user who has reported that the artwork in the server selection area on the left-hand side of the window, comes up with corrupted artwork
![screenshot_061318_101252_am](https://user-images.githubusercont

[2018-06-13 18:44] LucoEldritch commented on #744
I use Windows 8.1 Pro, and I'm also having this issue.
Rocket.Chat+ Version 2.11.0

[2018-06-14 01:11] aslend commented on #709
I think the version of Electron has risen and the symptoms have been improved.

[2018-06-14 02:36] cinderblock commented on #748
Interestingly, I have a similar issue after upgrading to 2.11.0. However, for me, the artwork is not messed up. It is just displayed a couple times (as above) when I expect it to be displayed once.

![image](https://user-images.githubusercontent.com/419955/41388420-b18edaf0-6f40-11e8-945b-9e812aa200c9.png)

When I mouse over the server selector or the "+" at the top, the extra icons go away and th

[2018-06-14 07:05] kaiiiiiiiii commented on #748
IMHO this looks like an issue related to #744.

[2018-06-14 07:29] efzwo commented on #744
In my company, this issue is present on all Windows 10 installations with Rocket.Chat+ 2.11.0. On MacOS everythings looks fine.

[2018-06-14 08:14] dhayab commented on #673
We're also experiencing the same issue.

[2018-06-14 08:17] dhayab commented on #714
You can add this custom CSS to your Rocket.Chat admin to give more space to the right side panel (that will apply to all other panels):
[code]

[2018-06-14 12:40] Jimmy062006 commented on #183
This is an issue in the current version.

[2018-06-14 17:45] kaiiiiiiiii commented on #738
Hi @cg666,

I think you’re in the wrong repository, as the electron app is just a simple wrapper of the web page. Your feature request sounds like it belongs in the Server repository.

Feel free to open an issue over there (may use the search first) :)

https://github.com/RocketChat/Rocket.Chat

//CC: @TwizzyDizzy

[2018-06-14 17:49] kaiiiiiiiii commented on #728
Hi @noloader,

is this still a thing with the latest release?

Thanks,
Kai

[2018-06-14 17:51] kaiiiiiiiii commented on #725
Hi @rzelnik,

I think you’re in the wrong repository, as the electron app is just a simple wrapper of the web page. Your feature request sounds more like it belongs in the Server repository.

Feel free to open an issue over there (may use the search first) :)

Thanks,
Kai

https://github.com/RocketChat/Rocket.Chat

//CC: @TwizzyDizzy

[2018-06-14 17:59] kaiiiiiiiii commented on #724
@CrimsonAndrew

Sorry, here’s a working link:

https://github.com/RocketChat/Rocket.Chat/blob/develop/README.md#translations

As far as I know the RC LingoHub Project is just for the server component, not for the desktop and mobile apps.

And to be honest, I’m not really sure if there’s even a ukrainian translation for the desktop cloent available.

[2018-06-14 18:01] kaiiiiiiiii commented on #724
//CC: @TwizzyDizzy I think this can be closed, as there’s not really an issue with the electron app.

[2018-06-14 18:03] kaiiiiiiiii commented on #720
Hi @erpel,

do you mind to close the issue, if @TwizzyDizzy isn’t faster doing it?

Thanks,
Kai

[2018-06-14 18:06] kaiiiiiiiii commented on #712
Hi @RAPPER23,

is this still a thing with the latest release?

Thanks,
Kai

[2018-06-14 22:08] rex4539 opened #749 "Exception on quit"
## My Setup
- Operating System: macOS 10.13.6 (17G39b)
- App Version: 2.11.0

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
Quit the app.
![screen shot 2018-06-15 at 01 01 28](https://user-images.githubusercontent.com/227442/41440722-6c44a1f2-7038-11e8-9c17-4f1f63dc37e6.png)

### Current Behavior
Exception is thrown.

### Expected Behavior
No exc

[2018-06-15 15:38] mddvul22 commented on #744
We are seeing it on windows 7 with latest RC windows client. 2.11.0

[2018-06-15 16:41] DylanPaulusSEL commented on #744
Testing on Windows 10, it looks like the issue goes away for us when removing `filter: brightness(90%);` from the `.server-list` element. [Here is a gif](https://imgur.com/a/GDZ2Oar) of the change in action.

I'll be willing to make a PR if this seems valid! Thoughts on using a `background-color` (Either a straight hex, or an rgba value) instead of `filter`?

[2018-06-16 10:22] mfa777 commented on #744
Hi @DylanPaulusSEL , is there anyway do some change on client side to solve it first? If only wait a new version it takes long time.

[2018-06-17 18:17] ganderzz commented on #744
@mfa777
If you don't need the server list you can always hide it. (Don't currently have access to RocketChat, but I believe you can find it in the menu bar under View > Toggle Server List).

A more intensive option, if you have the option, would be to recompile the Electron app yourself--removing the filter style from [the stylesheet](https://github.com/RocketChat/Rocket.Chat.Electron/blob/3f0e1a7

[2018-06-18 09:19] benaryorg opened #750 "permalink to direct message is soft locking clients"
## My Setup

(listing the affected systems, tested on multiple)

- Operating System: OS X all versions from El Capitan onwards
- App Version: 2.11.0

- [x] I have tested with the latest version
  - most current in terms of releases, haven't checked the git master
- [x] I can simulate the issue easily
  - it does need multiple accounts though, which makes it annoying to test, but it's easily possib

[2018-06-18 14:54] Kanozis commented on #407
+1

[2018-06-18 15:58] erpel commented on #720
I'm sorry, but I currently lack the privileges to close this issue. Maybe @engelgabriel, who also took care of actually resolving the issue and releasing 2.11 can do something about that.

[2018-06-18 16:03] kaiiiiiiiii commented on #720
Aaah sorry, I thought you were the initial issue owner 😅 Sorry bout that!

[2018-06-19 22:12] RAPPER23 commented on #712
Hi Kai.

Thanks for the answer. There is a little improvement with the latest release. It starts! But even if it is in Autostart it does not starts automatically. I always have to start the program manually. Any idea?

Best regards.
Ralph

Von: Kai <notifications@github.com>
Gesendet: Donnerstag, 14. Juni 2018 20:06
An: RocketChat/Rocket.Chat.Electron <Rocket.Chat.Electron@noreply.github.com>
Cc:

[2018-06-20 06:33] kaiiiiiiiii commented on #712
Did you install the client for you only or for all users on the system? I experienced the behavior you described, when I installed the client only for the current (me only) user.

Cheers,
Kai

[2018-06-20 08:10] RAPPER23 commented on #712
Thanks Kai. Indeed, only me. Would you recommend to reinstall or change preferences to admin rights?
Best regards,
Ralph

[2018-06-20 09:20] kaiiiiiiiii commented on #712
I would recommend to reinstall it for all user on the system. That's how I "fixed" the problem in our company. The only thing that's anoying when you choose that option is, that users without admin rights need an admin to update the app. But I don't see any other work-a-round atm.

[2018-06-21 11:55] johnyb0y opened #751 "Block AutoUpdate from checking for Updates using RegEx pattern"
Since there is no way to disable AutoUpdates in all clients by default, I'd like to externally block the client from checking for Updates.

To me it look's like the Windows Client is checking the most up-to-date `latest.yml` in `https://github.com/RocketChat/Rocket.Chat.Electron/releases` for a new release.
Can you confirm ?

If that's the case, blocking the URL with a specific regex pattern shoul

[2018-06-21 18:18] #751 closed

[2018-06-25 04:57] nutteen opened #753 "Thai and Khmer encoding problem in Ubuntu"
## My Setup
- Operating System: Ubuntu 16.04
- App Version: 2.7.0.

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

### Current Behavior
The Thai and Khmer characters are replaced by invalid characters (encoding issue).
The only workaround I found so far is to use the web version of Rocket.Chat.

### Expected Behavior
The client can display texts

[2018-06-25 06:11] nutteen commented on #753
It has been solved in 2.11, but Ubuntu users have to install it manually with the .deb file (the recommended way is to use snap, but the repository is not up to date).

[2018-06-25 06:11] #753 closed

[2018-06-26 14:20] tonyjames opened #754 "Add ability to toggle tray icon on Linux"
On macOS there is the ability to hide the tray icon and only be notified via the dock icon.  It would be useful to have the ability to hide the tray icon on Linux as well and rely on desktop notifications.

[2018-06-27 09:08] azgul opened #755 "Focus emoji search field when opening"
## My Setup
- Operating System: macOS
- App Version: 2.11.0

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
Pressing the smiley or reaction button should open & focus search field

### Current Behavior
It opens, but search field is not focused, requiring to click in the search field to gain focus

### Expected Behavior
It opens with focused search

[2018-06-27 17:03] adipose opened #756 "<alt>+H doesn't open Help menu because of a shortcut conflict with History"
## My Setup
- Operating System: Windows 10
- App Version: 2.11.0

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
Hit alt+H and History menu opens.  Hit again and it stays in History. No shortcut works to open Help menu.

### Current Behavior
You can only open the History menu with alt+H

### Expected Behavior
If you hit alt+H a second time, it sho

[2018-06-27 17:15] adipose commented on #555
This is a huge problem.  Once in the tray the message is missed 90% of the time.  The icon doesn't even blink or anything, nothing pops up, and having a tiny counter in the corner of the screen doesn't call your attention.

[2018-06-27 17:16] adipose commented on #522
No notifications at all in 2.11.0 and Windows 10.

[2018-06-27 20:06] sadkins76 commented on #522
I have a similar issue.  Windows 10 notifications are ON.  And generally, the notifications work, however, they are not persistent.  Meaning, the notification goes away, and the user, who is not always at their desk, has no idea they have gotten a message until they actually click on the Rocket.Chat window.  On a Mac, using the Rocket.Chat application, the message indicator is shown on the dock ic

[2018-06-28 07:58] Anguel commented on #555
We planned to use RocketChat for internal communication in our small company but now I have completely paused its implementation here until this issue is solved. However nobody at the development team seems to care. For me this is not an enhancement request, it is something that needs an urgent fix! If users don't see the messages the whole thing is useless. I just don't understand how others are

[2018-06-28 17:23] #504 closed

[2018-06-28 18:09] adipose commented on #522
@sadkins76 This is a consequence of using the Windows 10 notification system.  There does not appear to be a way to configure the TTL of a notification in Windows 10 (I checked the settings in the GUI, at least).  The alternatives are to use a custom notification system, or accept that Windows 10 only shows the notifications for ~5 seconds.  But overall, it seems best to use the OS notifications a

[2018-06-28 18:33] adipose commented on #522
@sadkins76 Huh.  My window already flashes without that setting.  I turned it on and saw no difference in how RocketChat works.

[2018-06-28 18:45] sadkins76 commented on #522
All of my machines flash for 5 seconds and then stop.  I CAN change that setting to 5 mins, but there are quite a few times where the user will be away from their desk longer than that, so its irrelevant.  We did not have this issue with Pidgin when we used it.  And we don't have this issue with our Mac machines.

[2018-06-28 18:55] adipose commented on #522
Mine also flashes for 5 seconds and stops, but it remains highlighted until you click on it.  This is without the audio setting.

[2018-06-29 06:16] gdelavald commented on #755
Closing this as this is not related to Electron. Please check the [Rocket.Chat](https://github.com/RocketChat/Rocket.Chat) repository for more information.

[2018-06-29 06:16] #755 closed

[2018-07-02 05:58] 0x6c commented on #740
Same for me:
Mac OS 10.13.5
Client Version: 2.11.0

![screen shot 2018-07-02 at 8 56 53 am](https://user-images.githubusercontent.com/19513737/42147326-e4ebca36-7dd5-11e8-8211-4186c048393c.png)

There is a dependency on amount of rooms opened.

[2018-07-02 09:45] Masterstop opened #757 "The Rocket.Chat button is multiplied at the entrance"
## My Setup
- Operating System: Windows 10
- App Version:   2.11.0

## Description
Just open application

### Current Behavior
I have 4 Rocket.Chat buttons on the left buttons. They disappear, when I point on the first

### Expected Behavior
Only 1  Rocket.Chat button

![clipboard - july 2 2018 12-22 pm](https://user-images.githubusercontent.com/11866691/42157231-d238b06e-7df5-11e8-916b-9b6db848ef

[2018-07-02 10:42] kaiiiiiiiii commented on #757
Duplicate of #744

[2018-07-02 17:53] frdmn opened #758 "Permalink to direct message shows 404 error page"
## My Setup
- Operating System: MacOS 10.13
- App Version: 2.11.0

- [X] I have tested with the latest version
- [X] I can simulate the issue easily

## Description
Clicking a permalink to a direct message shows a 404 error page.

Here's a screen capture: https://up.frd.mn/FvXJoCpK8W.mp4

### Current Behavior
Client shows 404 error page

### Expected Behavior
Client should follow the link and open

[2018-07-02 21:29] gdelavald commented on #757
The issue has been fixed, and will be on the next relased version.

[2018-07-02 21:29] #757 closed

[2018-07-03 09:05] c-sauerborn-mms commented on #740
Same for me. CPU mostly between 15-30% CPU, sometimes 40%+.
I have MacOS 10.13.5
Rocketchat 2.11.0

![high-cpu-usage](https://user-images.githubusercontent.com/36295933/42210225-e6c7a402-7eb0-11e8-95d0-968761eec596.png)

That's really bad.

[2018-07-03 09:07] thiesmms commented on #740
any news on this?

[2018-07-04 08:09] c-sauerborn-mms commented on #740
Update from us: We updated our self-hosted Rocket.Chat server to version 0.66 and now the CPU usage is below <10% on idle.

[2018-07-04 09:52] Kochise commented on #178
Is there any update on this issue?

[2018-07-05 13:37] ahartlaub commented on #679
Yes - the 'don't remind me option' that was added so you don't have to confirm is nice when trying to close, but I get ~80 unique people messaging me on a normal basis.  I don't really want to have all of them show in the list all the time - if it could say 'no new message from [user] in [x] days, hide room' automatically that would be spectacular.

[2018-07-09 08:05] MichalMMac opened #761 "2.11 release is missing macOS .pkg version"
.pkg version is useful for Mac admins deploying RocketChat.
Is it missing by accident or did you stop providing .pkg on purpose?

[2018-07-09 10:06] jrozelle commented on #735
Same problem here, with 2.11.

[2018-07-09 11:29] SkeLLLa opened #762 "Add new build target(s) for linux"
Please consider adding new target for linux system such as `tar.gz` and/or `snap` and/or `AppImage` in order to support systems that don't use neither rpm, nor deb package systems.

[2018-07-09 12:58] jwallet commented on #638
i think RC tries to mimic slack behavior, and that's what they do when there is new activity in your channels but no one has mentioned you

[2018-07-09 13:46] theorenck commented on #758
I discussed the subject a little with @sampaiodiego and it seems to be a problem with DM permalink's structure, specifically the lack of a proper room name **e.g**:
- **Group:** https://open.rocket.chat/channel/general?msg=gxsHQx2cYfQjboWRF
- **Direct message:** https://open.rocket.chat/direct?msg=QdqwXuafvjn8aQ4sc

The "direct" token is in place of the room name for DM permalinks, which makes the

[2018-07-09 14:39] markusstoll opened #764 "Feature Request: improve handling of lost session"
## My Setup
- Operating System: OSX 10.13.5
- App Version: 2.11.0

- [x] I have tested with the latest version
- [~] I can simulate the issue easily

Unfortunately I do not yet know how to force losing the session - sometimes after upgrading the server, everything keeps on going, sometimes not.

## Description
Sometimes upgrading RocketChat server ends in a lost session in your native client, you

[2018-07-09 14:57] #758 closed

[2018-07-09 14:57] theorenck commented on #758
Issue moved to [RocketChat/Rocket.Chat #11400](https://github.com/RocketChat/Rocket.Chat/issues/11400) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-09 16:08] jrozelle commented on #689
Hello,
Any improvement here ? Thank you !

[2018-07-10 22:38] jwallet commented on #178
are you using the tray icon to see if you have unread messages (not mentions) ? or you want this feature on the app icon in the task bar

[2018-07-11 13:34] gdelavald commented on #761
Hey, this might have been an unintended change, we'll make sure we have this released on the next update. Thanks for letting us know.

[2018-07-11 13:34] #761 closed

[2018-07-11 13:39] gdelavald commented on #638
@seriyvolk83 could you please add some images with the problem so we can troubleshoot it better?
Thanks!

[2018-07-11 13:51] #680 closed

[2018-07-11 22:25] geekgonecrazy opened #770 "Create Flatpak package"
We have ubuntu snap, would be great to have flatpak also

[2018-07-12 02:19] petersilva opened #771 "Help/ReportIssue reports an issue for a different package."
## My Setup
- Operating System:  Ubuntu Linux 18.04
- App Version: 2.10.5-686

- [X ] I have tested with the latest version
I do not know if it is the latest. When I click on Help, there is no "about" item I do:

blacklab% dpkg -l | grep rocket
ii  rocketchat                                 2.10.5-686                                  amd64
blacklab%
don't really know how I would know.

- [x] I can

[2018-07-12 06:08] force-net commented on #178
App Icon should flash and show some symbol, notifying about unread messages.
We're using Rocket.Chat in company and chat messages has the same importance as a private messages. Without this feature, lot of people miss messages. Tray icon is useless, nobody see it.

[2018-07-12 06:37] arteislt commented on #555
Desktop notification duration (or blinking taskbarsymbol) is a very important feature! If users don't see the messages, they are going to use emails with lots of cc's again :(

[2018-07-12 14:07] jwallet commented on #178
does the PR i referenced is what you need, badges on the app icon

[2018-07-12 23:56] helderam opened #772 "Active Rocket.Chat aplication when receive new message"
## My Setup
- Operating System: Microsoft WIndows 10
- App Version: 2.7.0

- [X] I have tested with the latest version
- [X] I can simulate the issue easily

## Description

First is very good the program congratulations to the authors and to all who keep this open source project. We are using the company with about 20 employees and everyone praises.

But when a message comes and the program is on

[2018-07-13 00:06] helderam commented on #642
I have the same problem.
I sugest have an option when new message comes, activet the application in foreground.

[2018-07-13 07:24] Kochise commented on #178
Private messages : tray icon goes red/white with counter and sound notification
Public messages : tray icon goes blue/white

Would have been great to have also counter and sound notification too.

In the channel list, channels that get new messages turns bold, why not also adding a counter about how many new unread messages there is ?

BTW : the notification setting is a mess, you have to go into

[2018-07-18 09:14] j20d opened #773 "Lag when typing, extremely high cpu load"
## My Setup
- Operating System: debian stretch amd64
- App Version: 2.11.0

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

When I type I experience severe lag and the app generates over 100% load.

### Current Behavior
Characters appear on screen significantly later than I typed them (think ssh over dial-up-modem in the 90s), cpu-load goes up, la

[2018-07-19 06:14] 0x6c commented on #773
We had the same issue. It's related to locale which is configured in your os and spellchecker.

[2018-07-19 15:11] tassoevan commented on #678
I'm closing this issue because it is not inside the desktop client. There was an [issue](https://github.com/RocketChat/Rocket.Chat/issues/9557) in Rocket.Chat that reflected this behavior in all desktop clients.

The correction is on track to be deployed in 0.67.0 release.

[2018-07-19 15:11] #678 closed

[2018-07-19 16:40] gdelavald commented on #773
Hey @0x6c could you provide a little bit more context on this? Maybe we could look for a fix or a workaround that could improve the performance.
Thanks!

[2018-07-19 18:39] tassoevan commented on #690
I'm closing it since it's a Rocket.Chat core (server) problem.

[2018-07-19 18:39] #690 closed

[2018-07-20 04:14] 0x6c commented on #773
Hi @gdelavald ,
Sure. Some time ago I found this on few of our computers. When people starting to type something - chat freezes, after disabling of spell checker - everything works just fine.

It's especially related to Windows 8 / 8.1

[2018-07-20 06:26] j20d commented on #773
I have yet to find a way to disable the spellchecker, the linux-version does not seem to offer that.
What I've tried is moving all the dictionaries from their directory and then starting, that sets my spelling language to (empty).
That does not make a difference in behaviour though.

[2018-07-20 10:06] skullchap opened #775 "Notification Handling in Windows"
## My Setup
- Operating System: Windows 7,10
- App Version: 2.11.0

## Description
 Not much of and issue but a feature request for handling Notifications

### Current Behavior
Notifications (toastNotifications) stays only for 7 seconds. Changing registry (or settings in control panel/accesibility) to 5 min extends them only by 20 seconds

### What i would like to have
I used Openfire/Spark before

[2018-07-21 20:14] geekgonecrazy commented on #770
It appears someone in the community already has!

https://flathub.org/apps/details/chat.rocket.RocketChat
https://github.com/flathub/chat.rocket.RocketChat

[2018-07-22 14:19] angusvb opened #779 "When adding a server, the trailing / gets stripped"
## My Setup
- Operating System: Windows 10
- App Version: 2.11.0

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
When adding a server like 'https://myserver.com/rocketchat/', the trailing / gets stripped. The reverse-proxy settings of nginx and running in a subfolder do not allow the url to open without the trailing /.

Going into the app devtools

[2018-07-23 16:40] gdelavald commented on #779
Hey @angusvb thanks for the report, we'll look into fixing it for the next release.

[2018-07-24 15:10] porg commented on #740
Rocket.Chat+ 2.10.5 on macOS 10.12.6 when idle consumes this amount of CPU:
- 3-4% Rocket.Chat+
- 5-10% Rocket.Chat+ Helper

Skype for comparison consumes
- 0,1% when idle

This is a huge difference for battery runtime on Mobile Macs.

[2018-07-25 08:12] markusstoll commented on #737
I do have the same problem with the native client on macOS

Users do lose session quite often, currently daily. The session timeout is set to 90 days.
How can I debug, why this happens?

Ofter relogin, we do have to QUIT and restart the Client to get chat sessions updated (otherwise they show the content up to the time when the logout happened)

This raises another question, why does the client no

[2018-07-25 15:36] #779 closed

[2018-07-25 16:06] marceloschmidt commented on #506
Please fix the deep link to match what's described on https://rocket.chat/docs/developer-guides/deeplink/#deeplink

[2018-07-26 14:15] j20d commented on #773
@0x6c en_IE, but rocketchat automatically starts with --lang=en_US and also uses en_US for the spell-checker. I've tried using de_DE, en_US and en_DK as LANG, no difference at all. Also, the dictionaries here are en_US, en_GB, es_ES and pt_BR - and even deleting them won't keep it from consuming ridiculous amounts of cpu.

[2018-07-30 20:14] DanielRuf commented on #529
I guess we can close this as it does not occur anymore?

[2018-07-30 20:43] gdelavald commented on #529
Sounds good, thanks @DanielRuf

[2018-07-30 20:43] #529 closed

[2018-08-01 03:45] 0x6c commented on #773
@j20d can you please try to turn off system spellchecker, just to confirm if it's related?

Thanks.

[2018-08-01 04:30] Maqsyo commented on #748
Hey Guys!
What's going on here? :D
still a bug ♥

[2018-08-01 04:32] Maqsyo commented on #775
We used Spark before too, but Rocket.Chat is better in so many points.
But this little blinking icon was really great!
 +1 for this request!

[2018-08-01 09:13] Anguel commented on #775
This problem has actually been discussed in so many threads but still no fix. It makes the software unusable for our company... At least the developers should add an option to prevent the main window from being closed, this way the program will stay in taskbar and will not disappear in tray. This should not be so hard to do.

[2018-08-01 09:16] Anguel commented on #772
It is ridiculous that every few days a user reports this problem and nobody cares. Just look at the other issues...

[2018-08-01 13:01] kaiiiiiiiii commented on #775
Feel free to submit a PR for that issue mate :)

[2018-08-01 20:28] tassoevan commented on #772
@Anguel While the team is aware of the issue with notifications, some changes in the latest version of Rocket.Chat server are degrading user experience for desktop users too. We ask to the users to be patient and/or to do code contributions.

[2018-08-01 20:56] tassoevan commented on #773
* Just in case: does Rocket.Chat behave well in browser? I ask it because there were some reports weeks ago and they were out of scope of the Electron app.
* Besides CPU load, is any abnormal RAM usage noticed?

[2018-08-02 11:14] netzwerch commented on #621
So I now got something that works for me.
In the file `/src/public/loading-error.html`
I added the following line somewhere in the \<html\>
`<script>setInterval(() => { document.getElementById("reload").click() }, 10000)</script>`
Quick and simple... opinions?

[2018-08-02 15:52] Anguel commented on #772
@tassoevan Thank you for the feedback and the confirmation that you are aware of the problem.

[2018-08-03 16:15] j20d commented on #773
@0x6c: I have no idea how to do that on linux, I don't even know if there is one.

@tassoevan: in firefox cpu ramps up to ~50% but not above, interface stays responsive, no lockups. I've cross-checked atom and slack as I believe they're both electron as well and they don't show the load-increase

[2018-08-03 16:58] hillu commented on #773
@0x6c In Chromium (free/libre version of Chrome) on Debian/stretch, I can reproduce bits of the observed behavior (100% CPU, noticeable lag but not as bad as described) by either holding down a key or rapidly typing random garbage into the chat window.
The profiler from the dev-tools shows that every(?) key press event eventually lead to a layout event, there is even a warning "Forced reflow is a

[2018-08-03 17:08] kaiiiiiiiii commented on #773
This issue was already addressed in the server repo and there’s also a open PR to fix it :)

https://github.com/RocketChat/Rocket.Chat/pull/11476

[2018-08-03 19:00] adipose opened #792 "<ctrl>+<enter> does not insert a blank line at cursor"
## My Setup
- Operating System: Windows 10
- App Version: 2.11.0

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
1. Type some text
2. Arrow over to where you want to insert a blank line
3. Hit ctrl+enter
### Current Behavior
The cursor goes down one row but does not insert a blank line before the cursor

### Expected Behavior
A blank line should b

[2018-08-05 02:58] tassoevan commented on #792
I'm closing this issue since it is a behavior present in the web client too.

As a workaround, I'd suggest the `SHIFT + ENTER` combination.

[2018-08-06 07:21] cadetmsv opened #793 "Localization of the Rocket.Chat.Electron"
## My Setup
- Operating System: Windows 7
- App Version: 2.12.0

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

In the panel menu and context menu in Rocket.Chat Electron there is no translation into Russian. English only.

### Current Behavior

![snapshot_180806_100307](https://user-images.githubusercontent.com/34961483/43701769-1ccd0794-9960-11